@import "app/sass-variables-mixins/vars.scss";
@import "app/sass-variables-mixins/mixins.scss";
.user-count {
  background-color: $primary-color;
  background-size: cover;
  display: inline-block;
}

mat-card {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

mat-card-header {
  display: inline-block;
  margin-left: 5px;
  @include font-size(14px);
}

mat-card-subtitle {
  margin-bottom: 0px;
}
