// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
button {
  color: white !important;
  margin: 0 2px 0 0;
}
button:nth-of-type(3) {
  margin-left: auto;
}
#edit-buttons {
  display: flex;
  align-items: center;
  #cancel {
    padding: 0 0 0 20px;
  }
  #delete {
    margin-left: auto;
  }
  #cancel, #delete {
    cursor: pointer;
    &:hover{
      color: rgba(196, 39, 95, 0.2) 
    }
  }
}