<!-- Nav Bar container -->
<div class="navBarWrapper" [ngClass]="atPageTop() ? 'scrolledUp' : 'scrolledDown'">
  <mat-toolbar>
    <!-- Logo and Title container -->
    <div class="logoWrapper">
      <img height="100px" routerLink="home" src="../../assets/images/applogo.png" alt="Logo of Scatter School: community made open source tutorials">
      <a routerLink="home" class="logoLink">Scatter School</a>
    </div>
    <!-- Nav Nar content spacer -->
    <span class="flexBoxSpacer"></span>
    <!-- Nav Bar Search Button -->
    <button mat-raised-button (click)="searchBarFocus(searchInput)" class="searchButton">
      <mat-icon>search</mat-icon>
    </button>
    <!-- Nav Bar Search Bar -->
    <form role="search" [hidden]="searchBarState === 2" [class.searchBarIsActive]="searchBarState === 1" [class.searchBarIsInActive]="searchBarState === 2">
      <!-- <mat-icon>search</mat-icon> -->
      <mat-form-field color="primary">
        <input matInput #searchInput placeholder="Search Articles" type="text" (keyup.enter)="search(searchInput)" aria-describedby="basic-addon2">
      </mat-form-field>
    </form>
    <!-- Button Container -->
    <div class="navButtonWrapper">
      <button mat-raised-button color="primary" id="post-article" routerLink="postarticle" class="navButtons">Post an article</button>
      <button mat-raised-button color="accent" *ngIf="authInfo.$uid" class="navButtons" [matMenuTriggerFor]="optionMenu"> Hello {{ displayName }}</button>
      <button mat-raised-button color="primary" *ngIf="!authInfo.$uid" routerLink="login" id="sign-in" class="navButtons">Sign In</button>
      <button mat-raised-button color="accent" *ngIf="!authInfo.$uid" routerLink="register" id="sign-up" class="navButtons">Sign Up</button>
      <!-- Mobile Nav Bar Menu Button -->
      <button color="primary" id="menu" mat-raised-button [matMenuTriggerFor]="mobileMenu" class="hamburgerButton">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- Option Nav Bar Menu Dropdown  -->
      <mat-menu #optionMenu="matMenu">
        <button mat-menu-item *ngIf="authInfo.$uid" routerLink="account">Profile</button>
        <button mat-menu-item *ngIf="authInfo.$uid" (click)="logout()" id="logout">Log Out</button>
      </mat-menu>
      <!-- Mobile Nav Bar Menu Dropdown  -->
      <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item id="post-article" routerLink="postarticle">Post an article</button>
        <button mat-menu-item *ngIf="authInfo.$uid" routerLink="account">Profile</button>
        <button mat-menu-item *ngIf="!authInfo.$uid" routerLink="register" id="sign-up">Sign Up</button>
        <button mat-menu-item *ngIf="authInfo.$uid" (click)="logout()" id="logout">Log Out</button>
        <button mat-menu-item *ngIf="!authInfo.$uid" routerLink="login" id="sign-in">Sign In</button>
      </mat-menu>

    </div>
  </mat-toolbar>
</div>
