// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
// Spacer for the nav bar to push everything to right-side of the toolbar
.flexBoxSpacer {
  flex: 1 1 auto;
}

// due to specaficity issues these styles needed to go further up on the stylesheet.
.searchButton {
  // @include small-button();
  margin: 10px 5px;
  background-color: $light-grey;
  padding: 0;
  mat-icon {
    color: $dark-gray;
  }
}

.navBarWrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 95%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;
  mat-toolbar {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    width: 100%;
    position: relative; //  Logo and title
    .logoWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: -1px;
      img {
        cursor: pointer;
      }
      .logoLink {
        color: $primary-color;
        @include font-size(34px);
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      } // Breakpoint
      @media only screen and (max-width: 768px) {
        .logoLink {
          @include font-size(20px);
        }
      }
      @media only screen and (max-width: 572px) {
        .logoLink {
          display: none;
        }
      }
    } // Search Input within nav bar
    form {
      width: 300px;
      position: relative;
      margin-right: 20px;
      mat-form-field {
        margin-top: 23px;
        font-size: 14px;
        width: 100%;
      }
    } // Search input Breakpoint
    @media only screen and (max-width: 1200px) {
      form {
        width: 225px;
      }
    }
    @media only screen and (max-width: 854px) {
      form {
        width: 150px;
      }
    } //Button container
    .navButtonWrapper {
      // adds margin at breakpoint
      app-notifications {
        @media only screen and (max-width: 1120px) { margin: 0 10px 0 5px; }
      }
      .navButtons {
        margin: 10px 10px;
        @include medium-button();
      }
      .hamburgerButton {
        @include small-button();
        mat-icon {
          color: white;
        }
      }
      #menu {
        display: none;
        z-index: 10;
      } // Button break point
      @media only screen and (max-width: 1120px) {
        // adds flex so button
        display: flex;
        button {
          display: none;
        }
        #menu {
          display: block;
        }
      }
    }
  }
}


/*nav scroll down transition styles*/

.scrolledUp {
  transition: all 0.5s ease-in-out;
  mat-toolbar {
    transition: all 0.5s ease-in-out;
    border: 1px solid $medium-gray;
  }
  .logoWrapper img {
    transition: all 0.5s ease-in-out;
    height: 100px;
  }
  @media only screen and (max-width:768px) {
    .logoWrapper img {
      transition: all 0.5s ease-in-out;
      height: 80px;
    }
  }
}


/*nav scroll up transition styles*/

.scrolledDown {
  transition: all 0.5s ease-in-out;
  margin-top: 0;
  margin-left: 0;
  // opacity: .5;
  width: 100vw;
  mat-toolbar {
    transition: all 0.5s ease-in-out;
    background-color: $dark-gray;
    border-radius: 0px;
    border-bottom: none;
  }
  .logoWrapper img {
    transition: all 0.5s ease-in-out;
    height: 50px;
    margin-left: 10px;
  }
}

.post-button {
  color: white;
  background-color: $primary-color;
}

#post-suggestion {
  color: white;
  background-color: #0F899E;
}
