<div class="homeContainer">
  <div class="heroBgColor">
    <h1>Community made open, editable tutorials for everyone.</h1>
    <h2>Makers, builders and hackers now have a convenience outlet to share the knowledge they have with the community they love.</h2>
  </div>

  <div class="bodyBgColor">
    <!-- Featured Articles Container -->
    <div class="featuredArticleWrapper">
      <div class="featuredOptions">
        <h2>Featured Articles</h2>
        <!-- Featured Article Toggle buttons -->
        <div class="iconWrapper">
          <mat-icon (click)="featuredListView()" [class.activePreviewState]="currentSelectedFeaturePreview === 1">list</mat-icon>
          <mat-icon (click)="featuredTileView()" [class.activePreviewState]="currentSelectedFeaturePreview === 2">apps</mat-icon>
        </div>
      </div>
      <!-- List View -->
      <div class="list" *ngIf="currentSelectedFeaturePreview === 1">
        <app-feature-preview [articleData]="article" *ngFor="let article of featuredArticles | reverseArray"></app-feature-preview>
      </div>
      <!-- Grid View -->
      <div class="grid" *ngIf="currentSelectedFeaturePreview === 2">
        <latest-preview [articleData]="article" *ngFor="let article of featuredArticles | reverseArray"></latest-preview>
      </div>
    </div>

    <!-- Latest and All Article Container -->
    <div class="latestAndAllWrapper">
      <!-- Toggles for Latest and All articles -->
      <div class="article-options">
        <!-- Latest and All Article Preview Toggle buttons -->
        <div class="header-style">
          <h2 (click)="selectLatest()" [class.activeArticleState]="currentSelectedTab === 1">Latest</h2>
          <h2 (click)="selectAll()" [class.activeArticleState]="currentSelectedTab === 2">All-Articles</h2>
        </div>
        <!-- Latest Article List and Grid View Toggle buttons -->
        <div class="latestViewToggle" *ngIf="currentSelectedTab === 1">
          <mat-icon (click)="latestListView()" [class.activePreviewState]="currentSelectedLatestPreview === 3">list</mat-icon>
          <mat-icon (click)="latestTileView()" [class.activePreviewState]="currentSelectedLatestPreview === 4">apps</mat-icon>
        </div>
        <!-- All Article Grid View Toggle buttons -->
        <div class="allViewToggle" *ngIf="currentSelectedTab === 2">
          <mat-icon (click)="allListView()" [class.activePreviewState]="currentSelectedAllPreview === 5">list</mat-icon>
          <mat-icon (click)="allTileView()" [class.activePreviewState]="currentSelectedAllPreview === 6">apps</mat-icon>
        </div>
      </div>
      <!-- Latest Article Preview -->
      <div *ngIf="currentSelectedTab === 1">
        <!-- Latest Article Grid View -->
        <div class="grid" *ngIf="currentSelectedLatestPreview === 4">
          <latest-preview [articleData]="article" *ngFor="let article of latestArticles | reverseArray"></latest-preview>
        </div>
        <!-- Latest Article List View -->
        <div class="list" *ngIf="currentSelectedLatestPreview === 3">
          <app-feature-preview [articleData]="article" *ngFor="let article of latestArticles | reverseArray"></app-feature-preview>
        </div>
      </div>
      <!-- All Article Preview -->
      <div *ngIf="currentSelectedTab === 2" class="allArticleWrapper">
        <!-- All Article Grid View -->
        <div class="grid" *ngIf="currentSelectedAllPreview === 6">
          <latest-preview [articleData]="article" *ngFor="let article of allArticles | reverseArray"></latest-preview>
        </div>
        <!-- All Article List View -->
        <div class="list" *ngIf="currentSelectedAllPreview === 5">
          <app-feature-preview [articleData]="article" *ngFor="let article of allArticles | reverseArray"></app-feature-preview>
        </div>
      </div>
    </div>
  </div>
</div>

