// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
.activePreviewState {
  color: $primary-color;
}
.heroBgColor {
  @include size(300px, 100%);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $dark-gray;
  h1 {
    font-size: 28px;
    @include respond-to($tablet-sm) {
      font-size: 32px;
    }
    @include respond-to($desktop-sm) {
      font-size: 36px;
    }
  }
  h2 {
    font-size: 24px;
    @include respond-to($tablet-sm){
      font-size: 28px;
    }
    @include respond-to($desktop-sm){
      font-size: 32px;
    }
  }
}
.bodyBgColor {
  width: 100%;
  background-color: $light-grey;
}
.featuredArticleWrapper {
  width: 95%;
  margin-left: 2.5%;
  padding-top: 20px;
  h2 {
    font-size: 28px;
    color: $dark-gray;
    @include respond-to($tablet-sm){
      font-size: 30px;
    }
  }
  .list {
    @include respond-to($desktop-sm){
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }
  }
}
.latestAndAllWrapper {
  width: 95%;
  margin-left: 2.5%;
  .article-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .header-style {
      display: flex;
      h2 {
        font-size: 28px;
        margin-right: 25px;
        color: $primary-color;
        cursor: pointer;
        @include respond-to($tablet-sm){
          font-size: 30px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .activeArticleState {
        cursor: default !important;
        color: $dark-gray !important;
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    .latestViewToggle,
    .allViewToggle {
      color: white;
      width: 75px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      mat-icon {
        cursor: pointer;
        font-size: 30px;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-items: center;
    // figure out a mix-in or something to calculate this.
    @include respond-to(660){
      grid-template-columns: 1fr 1fr;
    }
    @include respond-to($tablet-lg){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include respond-to(1300){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include respond-to($desktop-lg){
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
