<div id="testing-wrapper">
  <p>
    firestore-testing works!
  </p>

  <input #stuff type="text" (keyup.enter)="update(stuff.value)">
  <button (click)="update(stuff.value)">Update</button>

  <pre>
    {{ item$ | async | json }}
  </pre>
  <pre *ngIf="test">
    {{ test }}
  </pre>


  <input #foo type="text" (keyup.enter)="add(foo.value)">
  <button (click)="add(foo.value)">Add</button>

  <br>

  <input #bar type="text" (keyup.enter)="addWithId(bar.value)">
  <button (click)="add(bar.value)">Add with ID</button>

  <p>valueChanges() result:</p>
  <pre>
    {{ itemColl$ | async | json }}
  </pre>

  <p>snapshotChanges() result with ID mapped on:</p>
  <pre>
    {{ itemCollWithId$ | async | json }}
  </pre>

  <input #string type="text">
  <input #number type="number" (keyup.enter)="addStringAndNumber(string.value, number.value)">
  <button (click)="addStringAndNumber(string.value, number.value)">Add string and number</button>

  <p>valueChanges() result:</p>
  <pre>
    
  </pre>
  <p>stateChanes() maped result:</p>
  <pre>
    
  </pre>
</div>
