<div class="articleDetailWrapper">
  <div class="userPhotoDateWrapper">
    <img src="../../assets/images/ss-user-photo-frame.jpg" alt="">
    <img [src]="profileImageUrl ? profileImageUrl : ''" class="profile-image">
    <div class="userTextWrapper">
      <div class="followButtonWrapper">
        <h4 class="author">By: {{author?.alias}}</h4>
        <follow-btn *ngIf="article" [uid]="article?.authorKey"></follow-btn>
      </div>
      <p class="date">Last Updated: {{ article?.lastUpdated | date }}</p>
    </div>
  </div>
  <div class="tagsBar">
    <ul> Tags:
      <li *ngFor="let tag of article?.tags" class="tag"><a (click)="tagSearch(tag)">{{tag}}</a></li>
    </ul>
  </div>
  <div class="headlineWrapper">
    <h1>{{article?.title}}</h1>
    <p class="rating">RATING HERE
      <p>
  </div>
  <div class="bodyWrapper">
    <p class="intro">{{article?.introduction}}</p>
    <br>
    <div [innerHTML]="article?.body | safeHtml" class="copyText"></div>
  </div>

  <button md-raised-button color="primary" (click)="navigateToDetail()">Back to Current Article</button>

</div>
