<div class="footerWrapper">
    <div class="footerLinks">
        <a class="post-article" routerLink="postarticle">Post an article</a>
        <a *ngIf="authInfo.$uid" class="hiddenLink" routerLink="login" (click)="logout()"><span class="fa fa-sign-out hiddenLink"></span> Logout</a>
        <a *ngIf="!authInfo.$uid" class="hiddenLink" routerLink="login"><span class="fa fa-sign-in"></span> Sign In</a>
        <a *ngIf="authInfo.$uid" class="hiddenLink" routerLink="account"><span class="fa fa-user"></span> Hello {{ displayName }}</a>
        <a *ngIf="!authInfo.$uid" routerLink="register" class="hiddenLink"><span class="fa fa-user-plus"></span> Sign Up</a>
        <a class="aboutUsLink" routerLink="aboutus">About Scatter School</a>
    </div>

</div>
<div class="blue1"></div>
<div class="white2"></div>
<div class="blue3"></div>