// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
.detailWrapper {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  margin: 0 auto;
  height: 100%;
  h1 {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
  }
  button {
    @include medium-button();
  }
  button:nth-child(1) {
    margin-right: 20px;
    width: 140px;
  }
}

@media only screen and (max-width:768px) {
  .detailWrapper {
    width: 95%;
    margin-top: 90px;
  }
}
