button {
  font-family: STHeitiSC-Light;
}
.postCommentBtn {
  border-radius: 2px;
  letter-spacing: 0.5px;
  height: 35px;
}

#counter {
  margin-right: 5px;
}

@media only screen and (max-width:768px) {
  .comment-form-wrapper {
    width: 320px;
  }
}