.show-comment-form {
  cursor: pointer;
  background-color: #C4275F;
  color: #fff;
  font-size: 14px;
  height: 40px;
  width: 135px;
  padding: 13.5px;
  margin: 0 auto;
  letter-spacing: 0.5px;
  border-radius: 2px;
}

.postCommentBtn {
  border-radius: 2px;
  letter-spacing: 0.5px;
  height: 35px;
}

#counter {
  margin-right: 5px;
}

@media only screen and (max-width:768px) {
  .comment-form-wrapper {
    width: 320px;
  }
}