// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";


button {
  @include medium-button();
  width: 140px;
}

#counter {
  margin-right: 5px;
}

@media only screen and (max-width:768px) {
  .comment-form-wrapper {
    width: 320px;
  }
}