<div class="articleEditWrapper">
	<div [hidden]="isShowingPreview">
		<div class="wrapper">
			<div>
				<app-article-form #articleForm [initialValue]="article">
				</app-article-form>
				<button mat-raised-button color="warn" (click)="nextClicked()">Next</button>
			</div>
			<div>
				<app-article-cover-image *ngIf="article" [articleKey]="key"></app-article-cover-image>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div [hidden]="!isShowingPreview">
		<div class="cardPreview">
			<latest-preview *ngIf="article" [articleData]="articleForm.value"></latest-preview>
			<div class="cardConfirm">
				<p>This is how it will look around the site. Please review your changes and confirm or go back and edit.</p>
				<br>
				<button mat-raised-button color="warn" (click)="backClicked()">Back</button>
				<button mat-raised-button color="warn" (click)="edit(articleForm.value)">Save</button>
			</div>
		</div>
		<app-feature-preview *ngIf="article" [articleData]="articleForm.value"></app-feature-preview>
		<!-- <div class="editPreview">
			<p>Preview</p>
		</div> -->
		<app-article-detail *ngIf="article" [articleData]="articleForm.value" [editingPreview]="true"></app-article-detail>
	</div>
</div>