.searchList {
  width: 95%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  .noResults {
    min-height: 500px;
  }
}

.headline {
  color: #31C2D7;
  margin-top: 95px;
}
