@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";

.comment {
  // width: 500px;
  width: 80%;
  padding: 5px 10px 30px 0;
  display: block;
  margin-bottom: 10px;
  // border: 1px solid gray;
  position: relative;
  left: 35px;
  border-left: 5px solid $primary-color;
  
  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    grid-area: 1/1/span 3/2;
    // align-self: center;
    margin: 10px;
    @include respond-to($tablet-sm){
      width: 50px;
      height: 50px;
    }
  }

  .replies-toggle {
    // border: 1px solid red;
    position: absolute;
    left: -50px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    p:first-of-type {
      font-weight: bold;
      font-size: 18px;
      margin: 15px 0 0 0;
      // padding-right: 10px;      
      // border: 1px solid red;
    }
  }

  .comment-content {
    // border: 2px solid lime;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, max-content);
    .comment-date {
      font-size: 14px;
      color: $dark-gray;
    }
    
  }

  // Doesn't apply to anything?
  // p.first-child {
  //   border: 2px solid red;
  //   margin-bottom: 0px;
  // }

  p.comment-text {
    white-space: pre-wrap;
    // font-style: italic;
  }

  .toggle-collapse {
    // border: 1px solid red;
    margin: 0;
    cursor: pointer;
    // position: absolute;
    // left: -25px;
    // top: 0px;
    // width: 16px;
    // height: 16px;
    // transition: -webkit-transform .1s ease-in;
    // transition: transform .1s ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: $accent-color;

    &.showing {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  .comment-author {
    font-weight: bold;
    margin: 10px 0 0 0;
  }
}

.comment:hover {
  // background: green;
  .update-comment {
    display: block;
  }
}

.deleted-comment {
  color: $dark-gray;
  border-left: 5px solid gray;
  // background: gray;
  p {
    text-align: center;
    margin: 0px;
    font-weight: bold;
  }
  .comment-text {
    font-style: italic;
  }
  .replies-toggle {
    // border: $tb-red;
    p:first-of-type {
      margin: 0;
    }
  }
}

.replies {
  margin-left: 15px;
}

.comment-author {
  cursor: pointer;
  color: #C4275F;
  :hover {
    text-decoration: underline;
  }
}

.postCommentBtn {
  color: #C4275F;
  background-color: #fff;
  border: 1px solid #C4275F;
  border-radius: 2px;
  letter-spacing: 0.5px;
  height: 25px;
  padding: 0 5px;
}

.replies {
  margin-left: 15px;
}

.comment-actions {
  // display: none;
  position: absolute;
  right: 5px;
  bottom: 5px;

  span {
    cursor: pointer;
    color: #00BE9C;
    font-weight: bold;
  }

  span.active {
  }
  .comment-update {
    display: inline-block;
  }
}

// #reply-button {
//   color: #00BE9C;
//   cursor: pointer;
//   font-weight: bold;
// }



.date-updated {
  position: absolute;
  right: 5px;
  top: 5px;
  color: grey;
  font-size: 12px;
}


.toplevel {
  border-left: 5px solid transparent;
  // background: $light-grey;
  // border-radius: 5px;
  // background: $light-grey;
  // border-left: 5px solid $light-grey;
  // box-shadow: 0 4px 2px -2px ;
}

