// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
input {
  font-size: 18px;
}
progress {
  color: #00BE9C;
}
.uploadForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #263237;
}
.upload-wrapper {
  width: 500px;
  margin: 0 auto;
  .btnUpload {
    @include medium-button();
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:768px) {
  input {
    width: 300px;
  }
  .upload-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
