
.followWrapper {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #263237;
}

.followPhoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #C4275F;
    font-size: 18px;
  }
}

// .followBtn {
//   height: 38px;
//   color: #fff;
//   background-color: #C4275F;
// }

.bioWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  p {
    font-style: italic;
    color: #00BE9C;
    margin-bottom: 0;
  }
}

@media only screen and (max-width:768px) {

}
