@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";

.user-count {
  background-color: $primary-color;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  p {
    margin-top: 6px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
}

.unread-count {
  position: absolute;
  right: 5px;
  bottom: 1px;
  @include font-size(14px);
}

mat-card {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

mat-card-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  @include font-size(14px);
}

mat-card-subtitle {
  margin-bottom: 0px;
}