input {
  font-size: 18px;
}

progress {
  color: #00BE9C;
}

.uploadForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #263237;
}

.upload-wrapper {
  font-family: STHeitiSC-Light;
  width: 500px;
  margin: 0 auto;
  .btnUpload{
      height: 40px;
      color: #fff;
      background-color: #C4275F;
      letter-spacing: 0.5px;
      margin-bottom: 10px;
  }
}

@media only screen and (max-width:768px) {
  input {
    width: 300px;
  }
 .upload-wrapper {
   width: 100%;
   margin: 0 auto;
 }
}
