<div class="uploadWrapper">

    <div class="imageWrapper">
        <img class="imageDisplay" [src]="articleImageUrl ? articleImageUrl : '../../assets/images/ss-user-photo-frame.jpg'" alt="article's cover photo">
      </div>




  <div class="form-group uploadForm">

    
    <input 
      accept="image/*" 
      id="control" 
      type="file" 
      (change)="detectFiles($event)">
    
    <button 
      class="btn btnUpload" 
      [disabled]="!selectedFiles" 
      (click)="setBasePath()">
        upload
    </button>


  </div>
</div>
