.articleWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #263237;
}

.picTitleWrapper {
  display: flex;
  img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}

.dateVersionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  align-self: center;
  font-size: 18px;
}

.title:hover {
  color: #31C2D7;
  cursor: pointer;
}

.version {
  color: #00BE9C;
}
