.articleDetailWrapper {
  margin: 0 auto;
  width: 500px;
  margin-top: 80px;
}

.userPhotoDateWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.followButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

.followBtn {
  color: #fff;
  background-color: #C4275F;
  font-family: STHeitiSC-Light;
}

.userTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  h4 {
    font-size: 18px;
  }
  > * {
    font-family: STHeitiSC-Light;
  }
}

.headlineWrapper h1, p {
  font-family: STHeitiSC-Light;
}

.headlineWrapper h1 {
  margin-bottom: 0;
}

.rating {
  margin-bottom: 40px;
}

.intro{
  font-style: italic;
  font-size: 18px;
  margin-bottom: 40px;
}

.author {
  color: #C4275F;
  margin-top: 0;
}

.author:hover {
  text-decoration: underline;
}

.date {
  margin: 0;
}

.copyText {
  font-size: 16px;
}
