
.tagsBar {
  position: absolute;
  top: 250px;
  left: 46px;
  padding-top: 10px;
  border-top: 1px solid #263237;
  border-bottom: 1px solid #263237;
  ul {
    padding: 0;
    font-family: STHeitiSC-Light;
    font-size: 14px;
    list-style: none;
    color: #263237;
  }
}

.tag {
  font-family: STHeitiSC-Light;
  font-size: 14px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    color: #00BE9C;
  }
}

.articleDetailWrapper {
  margin: 0 auto;
  width: 500px;
  margin-top: 95px;

  button {
    color: #fff;
  }
}

.userPhotoDateWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 4px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.followButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

.followBtn {
  color: #fff;
  background-color: #C4275F;
  border-radius: 2px;
  font-family: STHeitiSC-Light;
}

.userTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  >* {
    font-family: STHeitiSC-Light;
  }
}

.headlineWrapper h1,
p {
  font-family: STHeitiSC-Light;
}

.headlineWrapper h1 {
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.rating {
  margin-bottom: 40px;
}

.intro {
  color: #00BE9C;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 40px;
}

.author {
  font-size: 20px;
  color: #C4275F;
  margin-top: 0;
}

.author:hover {
  text-decoration: underline;
}

.date {
  margin: 0;
}

.copyText {
  font-size: 18px;
  font-family: STHeitiSC-Light;
}

.comment-section-wrapper {
  font-family: STHeitiSC-Light;
  width: 500px;
  margin: auto;
  h3 {
    font-size: 30px;
    color: #31C2D7;
  }
  
}

@media only screen and (max-width: 1004px) {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .tagsBar {
    position: relative;
    top: 0;
    left: 0;
    border-top: none;
  }

  .tag {
    margin-left: 10px;
    margin-top: 0;
  }
}

@media only screen and (max-width:768px) {
  .articleDetailWrapper {
    width: 95%;
  }

  .followButtonWrapper {
    width: 260px;
    margin-bottom: 5px;
  }

  .comment-section-wrapper {
    width: 95%;
  }
}

