<mat-tab-group (selectedTabChange)="tabSelected($event)" *ngIf="loggedInUser.uid" #chatTabs class="loggedIn">
  <mat-tab label="Users" id="users">
    <user-list (requestSender)="handleRequest($event)" [userList]="userList" [loggedInUser]="loggedInUser" [currentChat]="currentChat"></user-list>
  </mat-tab>
  <mat-tab label="Chats" id="chats">
    <chat-list *ngIf="chatList" (requestSender)="openChat($event)" [chatList]="chatList" [loggedInUser]="loggedInUser"></chat-list>
    <!-- Style div to redirect users without any chats -->
    <div *ngIf="!chatList" (click)="openTab('users')">No open chats.</div>
  </mat-tab>
  <mat-tab label="Messages" class="messages">
    <chat *ngIf="currentChat" [loggedInUser]="loggedInUser" [totalMessages]="currentChat.totalMessagesCount"></chat>
    <!-- Style div to redirect users without an open chat -->
    <div *ngIf="!currentChat" (click)="openTab((chatList ? 'chats' : 'users'))">Start a chat to see messages.</div>
  </mat-tab>
</mat-tab-group>
<!-- Style messaging window below for non-logged in users and link to log-in page. -->
<mat-tab-group *ngIf="!loggedInUser.uid" class="notLoggedIn">
  <mat-tab label="Messaging">
    <div routerLink="login" (click)="toggleWindow()">Please log in to access messaging.</div>
  </mat-tab>
</mat-tab-group>
