.featureHeader {
  font-family: STHeitiSC-Light;
  letter-spacing: 0.5px;
  font-size: 30px;
  color: #31C2D7;
  margin-left: 98px;
}

.horizontalScroll {
  background-color: #fff;
  border: 1px solid #263237;
  overflow: auto;
  white-space: nowrap;
  padding-left: 10px;
  margin-right: 100px;
  margin-left: 100px;
  height: 275px;
}

.featuredTile {
  display: inline-block;
  background-color: white;
  border: 1px solid #263237;
  color: black;
  text-decoration: none;
  border-style: outset;
  padding: 14px;
  margin: 10px;
  width: 200px;
  height: 92%;
}
