.featureHeader {
  font-family: STHeitiSC-Light;
  letter-spacing: 0.5px;
  font-size: 30px;
  color: #31C2D7;
  margin-left: 98px;
  cursor: default;
}

.horizontalScroll {
  display: flex;
  font-family: STHeitiSC-Light;
  background-color: #fff;
  border: 1px solid #263237;
  overflow: auto;
  margin-right: 100px;
  margin-left: 100px;
  height: 275px;
}

.featureTile {
  background-color: white;
  border: 1px solid #263237;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  width: 225px;
  min-width: 225px;
  height: 92%;
}

.featureTile:hover {
  cursor: pointer;
}

@media only screen and (max-width:768px) {

  .horizontalScroll {
    margin-right: 20px;
    margin-left: 20px;
  }

  .featureHeader {
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 0;
  }
}
