<div *ngIf="articleHistory" class="articleHistoryWrapper">

  <div class="articleControlWrapper">

    <div class="versionWrapper">
      Version: {{ selectedArticle().version }}
    </div>
  
    <div class="buttonWrapper">
      <button mat-fab color="primary" matTooltip="Previous Version" (click)="selectPrevious()"><mat-icon>skip_previous</mat-icon></button>
      <button mat-fab color="primary" matTooltip="Next Version" (click)="selectNext()"><mat-icon>skip_next</mat-icon></button>
      <button mat-fab color="primary" matTooltip="Cycle Start" (click)="startForwardCycle()"><mat-icon>play_circle_outline</mat-icon></button>
      <button mat-fab color="primary" matTooltip="Cycle Stop" (click)="stopCycle()"><mat-icon>pause_circle_outline</mat-icon></button>
    </div>

  </div>


  <app-article-history-detail [articleData]="selectedArticle()" [articleKey]="articleKey"></app-article-history-detail>

</div>


<!-- <pre>
    {{ articleHistory | json }}
</pre> -->
