// Spacer for the nav bar to push everything to right-side of the toolbar
.flexBoxSpacer {
  flex: 1 1 auto;
}

.navBarWrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 95%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;

  md-toolbar {
    font-family: STHeitiSC-Light;
    background-color: #fff;
    border-top: 1px solid #263237;
    border-bottom: 1px solid #263237;
    border-right: 1px solid #263237;
    width: 100%;
    position: relative;

  //  Logo and title
    .logoWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;

      img {
        cursor: pointer;
      }

      .logoLink {
        color: #31C2D7;
        font-size: 2.5rem;
        display: flex;
        flex-direction: row;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }
      // Breakpoint
      @media only screen and (max-width: 768px) {
        .logoLink {
          display: none;
        }
      }

    }
    // Search Input within nav bar
    form {
      width: 200px;
      position: relative;
      margin-right: 20px;
      
      
      md-icon {
        position: absolute;
        left: -32px;
        top: 28px;
        color: #b1b1b1;
        font-size: 28px;
      }

      
      md-form-field {
        font-size: 12px;
        width: 100%;
      }

    }
    // Search input Breakpoint
    @media only screen and (max-width: 475px) {
      form {
        width: 125px;
        
      }
    }

    //Button container 
    .navButtonWrapper {

      button {
        margin: 10px 10px;
        color: white;
      }

      
      #menu {
        display: none;
        z-index: 10;
      }
      // Button break point
      @media only screen and (max-width: 1100px) {
        button {
          display: none;
        }
        
        #menu {
          display: block;
        }
      }
    }
  }
} 

/*nav scroll down transition styles*/
.scrolledUp {
  //nav styles .blue
  transition: margin-top 0.3s ease-in-out;
  
  .logoWrapper img {
    transition: height 0.3s ease-in-out;
    height: 100px;
  }

  @media only screen and (max-width:768px) {

    .logoWrapper img {
      transition: height 0.3s ease-in-out;
      height: 60px;
    }

  }

}

/*nav scroll up transition styles*/
.scrolledDown {
  //nav styles .red
  transition: margin-top 0.3s ease-in-out;
  margin-top: 0;
  margin-left: 3%;
  opacity: .7;

  md-tool-bar {
    height: 60px;
  }

  .logoWrapper img {
    transition: height 0.3s ease-in-out;
    height: 60px;
  }

}
