<!-- Nav Bar container -->
<div class="navBarWrapper" [ngClass]="lastScrolledUp() ? 'scrolledUp' : 'scrolledDown'">
  <md-toolbar>
    <!-- Logo and Title container -->
    <div class="logoWrapper">
      <img height="100px" routerLink="home" src="../../assets/images/spiral_7.png" alt="Logo of Scatter School: community made open source tutorials"> 
      <a routerLink="home" class="logoLink">Scatter School</a>
    </div>
    <!-- Nav Nar content spacer -->
    <span class="flexBoxSpacer"></span>
    <!-- Nav Bar Search Bar -->
    <form  role="search">
      <md-icon>search</md-icon>
      <md-form-field color="primary">
       <input mdInput #searchInput type="text" (keyup.enter)="search(searchInput.value)" aria-describedby="basic-addon2">
      </md-form-field>
    </form>
    <!-- Button Container -->
    <div class="navButtonWrapper">
      <button md-raised-button color="primary" id="post-article" routerLink="postarticle">Post an article</button>
      <button md-raised-button color="accent" *ngIf="authInfo.$uid" routerLink="account"> Hello {{ displayName }}</button>
      <button md-raised-button color="warn" *ngIf="!authInfo.$uid" routerLink="register" id="sign-up">Sign Up</button>
      <button md-raised-button color="warn" *ngIf="authInfo.$uid" (click)="logout()" id="logout">Log Out</button>
      <button md-raised-button color="accent" *ngIf="!authInfo.$uid" routerLink="login" id="sign-in">Sign In</button>
      <!-- Mobile Nav Bar Menu Button -->
      <button id="menu" md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon color="primary">menu</md-icon>
      </button>
      <!-- Mobile Nav Bar Menu Dropdown  -->
      <md-menu #menu="mdMenu">
        <button md-menu-item id="post-article" routerLink="postarticle">Post an article</button>
        <button md-menu-item *ngIf="authInfo.$uid" routerLink="account"> Hello {{ displayName }}</button>
        <button md-menu-item *ngIf="!authInfo.$uid" routerLink="register" id="sign-up">Sign Up</button>
        <button md-menu-item *ngIf="authInfo.$uid" (click)="logout()" id="logout">Log Out</button>
        <button md-menu-item *ngIf="!authInfo.$uid" routerLink="login" id="sign-in">Sign In</button>
      </md-menu>
    </div>
  </md-toolbar>
</div>