// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars";
@import "../../../sass-variables-mixins/mixins";
h1 {
  @include font-size(60px);
  color: $primary-color;
  cursor: default;
  margin-bottom: 20px;
  text-align: center;
}

button {
  @include large-button();
}

.loginWrapper {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include font-styles();
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px; // margin: 0 auto;
  mat-form-field {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
  }
}

.buttonWrapper {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  button {
    color: white;
    font-size: 20px;
  }
}

@media only screen and (max-width:768px) {
  .formWrapper {
    width: 80%;
  }
  .buttonWrapper {
    width: 80%;
  }
}
