// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "app/sass-variables-mixins/vars.scss";
@import "app/sass-variables-mixins/mixins.scss";
.editWrapper {
  font-family: STHeitiSC-Light;
  width: 500px;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    margin-bottom: 40px;
  }
  .btnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  button {
    @include medium-button();
  }
}

@media only screen and (max-width:768px) {
  .editWrapper {
    width: 95%;
    margin-top: 90px;
  }
}
