<div class="tileBorder">
  <div class="notFoundMsgWrapper">
    <a routerLink="/home">
      <img class="xOut"  src="../../assets/images/x-out-ss.png" alt="x-out link to home page of articles.">
    </a>
    <img height="100px" src="../../assets/images/spiral_7.png" alt="Logo of Scatter School: community made open source tutorials">
    <h1>Scats and Drats!</h1>
    <h3>The page you were looking for was not found, and does not exist on Scatter School.</h3>
    <br>
    <h3>Perhaps you could write one!</h3>
  </div>
</div>
