.featurePreview {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.featurePreview:hover {
  transition: color 0.1s ease-in-out;
  color: #31C2D7;
}

.title {
  margin-top: 10px;
}

.author {
  color: #C4275F;
}

.author:hover {
  text-decoration: underline;
}

.intro {
  color: #00BE9C;
  font-weight: bold;
}
