.featurePreview {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.featurePreview:hover {
  transition: color 0.1s ease-in-out;
  color: #31C2D7;
}

.title {
  margin-top: 10px;
}

.author {
  color: #C4275F;
}

.author:hover {
  text-decoration: underline;
}

.intro {
  color: #00BE9C;
  font-weight: bold;
}

h3, h4, p {
  position: relative;
  z-index: 1;
}

.image-wrapper {
  position: relative;
}

.text-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 0;
  padding: 5px;
}

.background {
  margin: -15px;
  padding: 0;
  position: absolute;
  z-index: 0;
  height: 249px;
  width: 223px;
  overflow: hidden; 
}
