.message {
  color: white;
  background-color: #31C2D7;
  padding: 7px;
  width: 75%;
  margin: 5px 0px 5px 0px;
  border-radius: 8px;
}

.message > span {
  word-wrap: break-word;
}

.ownMessage {
  color: #111;
  background-color: #DDD;
  margin-left: auto;
}

.ownMessage > #timestamp {
  color: gray;
}

#message-list {
  height: 365px;
  overflow-y: scroll;
}

#messages {
  width: 400px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px grey;
  border-radius: 1px;
  display: inline-block;
}

#chat-form {
  width: 75%
}

#author {
  font-weight: bold;
}

#timestamp {
  color: white;
  font-size: 11px;
}

#body {
  display: block;
}