<div id="messages">
  <div id="message-list">
    <div *ngFor="let message of messages" class="message" [class.ownMessage]="isOwnMessage(message.authorKey)">
      <span>{{ message.timestamp | timeElapsed }} | {{ message.authorName }}:  {{ message.body }}</span>
    </div>
  </div>
  <div id="chat-form">
    <chat-form #chatForm></chat-form><span>{{chatForm.maxLength - chatForm.text.length}}</span>
    <button [disabled]="chatForm.form.invalid || !this.currentUserInfo" (click)="sendMessage(chatForm.text)">Send</button>
  </div>
</div>
