#chat {
  display: flex;
  flex-direction: column;
  height: 450px;
}

#message-list {
  flex: 2;
  overflow-y: scroll;
}

#chat-form {
  min-height: 85px;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: 0px -2px 6px -3px grey;
}

.mat-card {
  margin: 5px;
  padding: 10px;
}

.mat-card-title {
  margin-bottom: 5px;
}

.profile-image {
  background-image: url('../../assets/images/kid-art.jpg');
  background-size: cover;
}