<div class="reply-form" *ngIf="isFormShowing">
  <!-- <p class="close-reply" (click)="toggleReplyForm()">&#10005;</p> -->
  <!-- <img src="../../assets/images/x-out.png" class="close-reply" (click)="toggleReplyForm()"/> -->
  <p class="reply-author">Logged in as: {{ currentUserDisplayName() }}</p>
  <app-comment-form #form [placeholderText]="'Enter your reply here...'"></app-comment-form>
  <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="postReply(form.value)">Reply</button>
  <button mat-raised-button color="warn" (click)="toggleReplyForm()">Cancel</button>
  <!-- <span>{{form.text.value.length}}</span> -->
</div>