<div class="reply-form" *ngIf="isFormShowing">
  <!-- <p class="close-reply" (click)="toggleReplyForm()">&#10005;</p> -->
  <!-- <img src="../../assets/images/x-out.png" class="close-reply" (click)="toggleReplyForm()"/> -->
  <p class="reply-author">Logged in as: {{ currentUserDisplayName() }}</p>
  <app-comment-form #form [placeholderText]="'Enter your reply here...'"></app-comment-form>
  <div id="reply-buttons">
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="postReply(form.value)">Submit</button>
    <!-- <button mat-raised-button color="warn" (click)="toggleReplyForm()">Cancel</button> -->
    <!-- <button mat-button color="warn" (click)="toggleReplyForm()"><mat-icon>clear</mat-icon></button> -->
    <mat-icon id="cancel" color="warn" (click)="toggleReplyForm()">clear</mat-icon>
    <!-- <span>{{form.text.value.length}}</span> -->
  </div>
</div>