// This is a style sheet that holds all of the template css variables across the sight. 

// GLOBAL THEME COLORS FOR APP
$primary-color: #00b8d4;
$accent-color: #00bfa5;
$warn-color: #c2185b;
$light-gray: #EDF6F8;
$medium-gray: #34595E;
$dark-gray: #3E4849;
$dark-gray-20: rgba(62,72,73,.2);
$light-grey: #EEEEEE;
$dark-grey: #757575;

$accent-color-70: rgba(0, 191, 165, 0.7);
$accent-color-50: rgba(0, 191, 165, 0.5);
$accent-color-20: rgba(0, 191, 165, 0.2);

// GLOBAL TYPOGRAPHY STYLES
// $font-family: STHeitiSC-Light;
$font-family: 'Montserrat', sans-serif;
$letter-spacing: .5px;

// Testing borders "tb" being the key selector
$tb-red: 2px solid red;
$tb-blue: 2px solid blue;
$tb-lime: 2px solid lime;
$tb-orange: 2px solid orange;
$tb-yellow: 2px solid yellow;
$tb-black: 2px solid black;
$tb-cyan: 2px solid cyan;

// Button styles and variables.

// Global button Styles that aren't specific to button size
$btn-font-family: $font-family;
$btn-border-radius: 5px;
$btn-letter-spacing: .5px;
$btn-color: white;

// Small Button Styles "sm" being the key selector
$sm-height: 40px;
$sm-width: 40px;
$sm-font-size: 12px;

// Medium Button Styles "md" being the key selector
$mat-height: 40px;
$mat-width: 95px;
$mat-font-size: 14px;

// Large Button styles "lg" being the key selector
$lg-height: 50px;
$lg-width: 145px;
$lg-font-size: 22px;

// Variables taken from flight.run
// Variables for media query
$tablet-portrait-up: 600;
$tablet-landscape-up: 900;
$desktop-up: 1200;
$large-desktop-up: 1800;

//Average screen widths
$phone-lg: 414;
$phone-md: 375;
$phone-sm: 320;
//iPhone
$iphone-lg: 414;
$iphone-md: 375;
$iphone-sm: 320;
//Android
$android-lg: 480;
$android-md: 411;
$android-sm: 360;

//General viewport widths
$tablet-sm: 576;
$tablet-md: 780;
$tablet-lg: 992;
$desktop-sm: 1200;
$desktop-md: 1440;
$desktop-lg: 1650;
