img {
  margin-bottom: 40px;
}
.aboutUsWrapper {
  width: 95%;
  margin:0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUsWrapper * {
  font-family: STHeitiSC-Light;
}
.aboutUsHeader {
  align-self: flex-start;
  font-size: 30px;
  color: #31C2D7;
  cursor: default;
  margin-bottom: 20px;
}
.copyWrapper {
  width: 600px;
  p {
    font-size: 18px;
  }
}
@media only screen and (max-width:768px) {
  .copyWrapper {
    width: 80%;
  }
}
