<div class="aboutUsWrapper">
  <h1 class="aboutUsHeader">About us:</h1>
  <img height="100px" src="../../assets/images/spiral_7.png" alt="Logo of CoSourcery: community made open source tutorials">
  <div class="copyWrapper">
    <p class="copy">The myth of a great idea is that it can only come from one genius. It is more often true that community, working together, can make, share, and teach each other amazing ideas and best practices.  Knowledge is scattered among us.  This is a humble attempt to bring some of our community knowledge together.
    </p>
    <br>
    <p class="copy">CoSourcery is the place to make and learn collectively produced tutorials.  We believe in the knowledge of the community to teach each other.</p>
    <br>
    <p class="copy">We also want to honor the authorship of everyone who works on an article, both as the initial author and as an editing author.  So you can find and follow that information, too.
    </p>
    <br>
    <p class="copy">So what can you make a tutorial of on CoSourcery?
    </p>
    <br>
    <p class="copy">Anything.</p>
    <br>
    <p class="copy">For those of you who would like more detail than that, here you can find collective knowledge about software engineering, local culture, and various craft-works (baking, woodworking, brewing).</p>
    <br>
    <p class="copy">Can you edit any tutorial? Yes. (symbol here)</p>
    <br>
    <p class="copy">Ground rules:</p>
    <br>
  </div>
</div>
