// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";


h1 {
  @include font-size(30px);
  color: $primary-color;
  cursor: default;
  margin-bottom: 20px;
  text-align: center;
}




button {
  @include large-button();
}

.loginWrapper {
  min-height: 500px;
  width: 95%;
  margin: 0 auto;
  margin-top: 90px;

  @include font-styles();
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 0 auto;

  mat-form-field {
    margin-top: 20px;
    width: 100%;
  }
}

.buttonWrapper {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-width:768px) {
  .formWrapper {
    width: 80%;
  }

  .buttonWrapper {
    width: 80%;
  }
}
