// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";


h1 {
  font-size: 30px;
  color: #31C2D7;
  cursor: default;
  margin-bottom: 20px;
}

mat-form-field {
  margin-top: 20px;
}


button {
  @include large-button();
}

.loginWrapper {
  min-height: 500px;
  width: 95%;
  margin: 0 auto;
  margin-top: 90px;
}

.loginWrapper * {
  font-family: STHeitiSC-Light;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.buttonWrapper {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-width:768px) {
  .formWrapper {
    width: 80%;
  }

  .buttonWrapper {
    width: 80%;
  }
}
