



<form autocomplete="off" novalidate [formGroup]="form" class="loginWrapper">

    <fieldset class="formWrapper">
      <h1>Login :</h1>
  
      <md-form-field color="primary">

        <input mdInput formControlName="email" placeholder="Email" [class.input-error]="isErrorVisible('email','required') || isErrorVisible('email','validEmail')" name="email"  type="email">
        <md-error *ngIf="isErrorVisible('email','required')">We'll need your e-mail address, please.</md-error>
        <md-error *ngIf="isErrorVisible('email','validEmail')">Please enter a valid e-mail address.</md-error>
      </md-form-field>
  
      <md-form-field color="primary">   
   
        <input mdInput placeholder="Password" [class.input-error]="isErrorVisible('password','required')" name="password" formControlName="password" type="password">
        <md-error class="field-error-message" *ngIf="isErrorVisible('password','required')">A password is required.</md-error>
      </md-form-field>
    </fieldset>
  
    <div class="buttonWrapper">
      <button md-raised-button (click)="login()" [disabled]="!formValid()" color="warn" >Login</button>
    </div>

  </form>





 <!-- ********** ORGINAL CODE ********* -->

<!-- <form autocomplete="off" novalidate class="login-form" [formGroup]="form" class="form-group loginWrapper">

  <fieldset class="formWrapper">
    <h1>Login :</h1>
    <div class="form-bg">
      <div class="form-field">
        <label>Email</label>
        <input [class.input-error]="isErrorVisible('email','required') || isErrorVisible('email','validEmail')" name="email" formControlName="email"
          type="email" class="form-control">
        <div class="field-error-message" *ngIf="isErrorVisible('email','required')">We'll need your e-mail address, please.</div>
        <div class="field-error-message" *ngIf="isErrorVisible('email','validEmail')">Please enter a valid e-mail address.</div>
      </div>
      <div class="form-field">
        <label>Password</label>
        <input [class.input-error]="isErrorVisible('password','required')" name="password" formControlName="password" type="password"
          class="form-control">
        <div class="field-error-message" *ngIf="isErrorVisible('password','required')">A password is required.</div>
      </div>
    </div>


  </fieldset>
  <div class="buttonWrapper">
    <button (click)="login()" [disabled]="!formValid()" class="btn btn-default">Login</button>
  </div>
</form> -->









