// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
mat-card,
.mat-card {
  @include size(90px, 98%);
  margin-bottom: 20px;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 0;
  @media only screen and (max-width: 940px) {
    img {
      display: none;
    }
  }
  img {
    @include size(90px, 90px);
    object-fit: cover;
    object-position: center;
    margin-right: 50px;
  }
  .contentWrapper {
    @include size(90px, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    mat-card-header {
      .titleWrapper {
        width: 100%;
        mat-card-title {
          @include font-size(20px);
          @include font-styles();
          color: $primary-color;
          cursor: pointer;
          @media only screen and (max-width: 940px) {
            @include font-size(16px);
          }
          @media only screen and (max-width:700px) {
            @include font-size(14px);
          }
          @media only screen and (max-width:600px) {
            @include font-size(10px);
          }
          &:hover {
            color: $accent-color;
            text-decoration: underline;
          }
        }
        mat-card-subtitle {
          color: $dark-grey;
          font-weight: 800;
          cursor: pointer;
          margin-bottom: 0 !important;
          @media only screen and (max-width: 940px) {
            @include font-size(10px);
          }
        }
        &:hover {
          color: $accent-color;
          text-decoration: underline;
        }
      }
    }
    @media only screen and (max-width:940px) {
      margin-left: 20px;
    }
  }
  mat-card-content,
  .mat-card-content {
    align-self: flex-start;
    margin-bottom: 0 !important;
    p {
      @include font-size(12px);
      color: $dark-grey;
      cursor: pointer;
      margin-top: 5px;
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
  .contentSpacer {
    flex: 1 1 auto;
  }
  mat-card-actions {
    @include size(90px, 250px);
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 0px !important;
    display: flex;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-right: 10px;
      @media only screen and (max-width: 940px) {
        margin-right: 5px;
      }
      span {
        mat-icon {
          cursor: default;
          @include font-size(30px);
          @media only screen and (max-width: 940px) {
            @include font-size(24px);
          }
        }
      }
      p {
        margin-left: 5px;
        color: $dark-grey;
      }
    }
    @media only screen and (max-width:940px) {
      width: 225px;
    }
  }
}
