// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
#reply-button {
  color: #00BE9C;
  cursor: pointer;
}

.reply-form {
  width: 500px;
  padding: 5px 10px 5px 10px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid gray;
  position: relative;
  .close-reply {
    position: absolute;
    left: -20px;
    top: 0px;
    cursor: pointer;
    width: 14px;
    height: 14px;
  }
  button {
    @include medium-button();
  }
  .reply-author {
    cursor: pointer;
    color: #C4275F;
    margin-bottom: 5px;
     :hover {
      text-decoration: underline;
    }
  }
}
