// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "app/sass-variables-mixins/vars.scss";
@import "app/sass-variables-mixins/mixins.scss";
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.editPreview {
  @include size(30px, 100%);
  text-align: center;
  background-color: $accent-color;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  @include font-size(22px);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
