<!-- Notifications button in top-nav -->
<button mat-raised-button (click)="toggleNotificationsModal()" class="notification-btn" [ngClass]="notifications?.length > 0 ? 'new-notifications' : ''">
  <mat-icon *ngIf="notifications?.length == 0">notifications</mat-icon> 
  <span *ngIf="notifications?.length > 0 && notifications?.length < 9">
    {{ notifications.length }}
  </span>
  <span *ngIf="notifications?.length > 9">
    9+
  </span>
</button>

<!-- Notifiations modal -->
<mat-card class="modal" *ngIf="notificationsModalVisible">
  <!-- Button menu -->
  <div class="button-wrapper">
    <button mat-icon-button (click)="notificationHistoryVisible = true">
        <mat-icon aria-label="Notification History">history</mat-icon>
    </button>
    <button mat-icon-button (click)="notificationHistoryVisible = false">
        <mat-icon aria-label="Unread Notifications">notifications_none</mat-icon>
    </button>
    <button mat-icon-button (click)="markAllNotificationsRead()">
        <mat-icon aria-label="Mark All Notifications Read">clear_all</mat-icon>
    </button>
  </div>
  <!-- Displays notifications -->
  <div class="notification-wrapper">
      <div *ngIf="!notificationHistoryVisible" >
        <div *ngIf="notifications?.length == 0">
          <mat-card>
            <mat-card-subtitle>
                All caught up on notifications.
            </mat-card-subtitle>
          </mat-card>
        </div>
        <mat-card *ngFor="let notification of notifications">
            {{displayMessage()}}
            {{ notification.followerName }} followed you! Date: {{ notification.timestamp }}
            <button mat-icon-button (click)="markNotificationRead(notification.id)">
                <mat-icon aria-label="Mark Notification Read">clear</mat-icon>
            </button>
            <!-- <button align="end" mat-button (click)="markNotificationRead(notification.id)">
                <mat-icon>clear</mat-icon>
            </button> -->
        </mat-card>
      </div>
      <div *ngIf="notificationHistoryVisible" >
        <mat-card *ngFor="let notification of notificationHistory">
            {{ notification.followerName }} followed you! Date: {{ notification.timestamp }}
        </mat-card>
      </div>
  </div>
  <!-- Button to collapse panel -->
 <mat-card-footer>
    <button mat-icon-button (click)="toggleNotificationsModal()">
        <mat-icon aria-label="Collapse notifications panel">expand_less</mat-icon>
    </button>
 </mat-card-footer>
</mat-card>