// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "app/sass-variables-mixins/vars.scss";
@import "app/sass-variables-mixins/mixins.scss";
h1 {
  @include font-size(60px);
  color: $primary-color;
  cursor: default;
  margin-bottom: 20px;
  text-align: center;
}

button {
  @include large-button();
}

.loginWrapper {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @include font-styles();
}

.formWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 700px; // margin: 0 auto;
  mat-form-field {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
  }
}

.buttonWrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  button {
    color: white;
    font-size: 20px;
  }
}

@media only screen and (max-width:768px) {
  .formWrapper {
    width: 80%;
  }
  .buttonWrapper {
    width: 80%;
  }
}
