// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "app/sass-variables-mixins/vars.scss";
@import "app/sass-variables-mixins/mixins.scss";
button {
  @include large-button();
  margin: 0 auto;
  /*flex attributes*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

pre {
  width: 1200px;
  width: 75rem;
  border: 1px solid #C4275F;
  border-radius: 0;
  background-color: #fff;
  margin: 0 auto;
}

label {
  color: #243237;
  font-size: 36.8px;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: STHeitiSC-Light;
  margin-bottom: 30px;
}

input {
  font-size: 18px;
}

progress {
  color: #00BE9C;
}

.postArticleContainer {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.uploadForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #263237;
  width: 500px;
}

.upload-wrapper {
  font-family: STHeitiSC-Light;
  margin: 0 auto;
  width: 500px;
}

@media only screen and (max-width:950px) {
  input {
    width: 100%;
  }
  .uploadForm {
    width: 100%;
  }
  .upload-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .postArticleContainer {
    height: 1150px;
  }
}
