h3 {
  color: #31C2D7;
  margin-bottom: 40px;
  text-align: center;
}

input {
  font-size: 18px;
}

h2 {
  color: #243237;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: STHeitiSC-Light;
  margin-bottom: 20px;
}

.upload-wrapper {
  font-family: STHeitiSC-Light;
  margin: 0 auto;
  max-width: 500px;
  .image-wrapper {
    display: flex;
    justify-content: center;
  }

  .imageDisplay {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border: 1px solid #263237;
    object-fit: cover;
  }
}

@media only screen and (max-width:768px) {
  input {
      width: 100%;
  }
  .uploadWrapper{
      width: 95%;
      margin: 0 auto;
  }
}