// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";

button {
@include large-button();
  margin: 0 auto;
  /*flex attributes*/
  display: flex;
  align-items: center;
  justify-content: center;
}


pre {
  width: 75rem;
  border: 1px solid #C4275F;
  border-radius: 0;
  background-color: #fff;
  margin: 0 auto;
}

label {
  color: #243237;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: STHeitiSC-Light;
  margin-bottom: 30px;
}

input {
  font-size: 18px;
}

progress {
  color: #00BE9C;
}

.postArticleContainer {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadForm {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #263237;
  width: 500px;
}

.upload-wrapper {
  font-family: STHeitiSC-Light;
  margin: 0 auto;
  margin-top: 95px;
  width: 500px;
}

@media only screen and (max-width:950px) {
  input {
      width: 100%;
  }
  .uploadForm {
    width: 100%;
  }
  .upload-wrapper{
    width: 95%;
    margin: 0 auto;
    margin-top: 95px;
  }

  .postArticleContainer {
    margin-top: 50px;
    height: 1150px;
  }
}
