h3 {
    color: #31C2D7;
    margin-bottom: 40px;
    text-align: center;
}

input {
    font-size: 18px;
}

progress {
    color: #00BE9C;
}

.uploadForm {
    display: flex;
  align-items: center;
  justify-content: space-between;
    border-bottom: 1px solid #263237;
}

.uploadWrapper {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 500px;

    .btnUpload{
        height: 40px;
        color: #fff;
        background-color: #C4275F;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
    }

    .imageWrapper {
        display: flex;
      justify-content: center;
    }

    .imageDisplay {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:768px) {
    input {
        width: 100%;
    }
    .uploadWrapper{
        width: 95%;
        margin: 0 auto;
    }
  }
