// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "/sass-variables-mixins/vars.scss";
@import "/sass-variables-mixins/mixins.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid gold;
}
#navContainer {
  background-color: white;
  @include size(55px, 100%);
  overflow-x: hidden;
}
#toggle-chat {
  height: 65px;
  width: 65px;
  position: fixed;
  top: calc(20vh + 1px);
  right: -30px;
  -webkit-transition: right .2s;
  color: white;
  @media only screen and (max-width:980px) {
    top: calc(28vh + 1px);
  }
  &.expanded {
    right: 289px;
  }
  &.unread {
    right: 5px;
    mat-icon {
      margin-right: 0px;
    }
  }
  mat-icon {
    margin-top: 5px;
    margin-right: 23px;
    -webkit-transition: margin-right .2s;
  }
}
#chat {
  padding: 0px;
  position: fixed;
  top: 20vh;
  right: -311px;
  width: 300px;
  height: 500px;
  -webkit-transition: right .2s;
  @media only screen and (max-width:980px) {
    top: 28vh;
  }
  &.expanded {
    right: 20px;
  }
}
#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
#root {
  flex: 1;
}
