// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "/sass-variables-mixins/vars.scss";
@import "/sass-variables-mixins/mixins.scss";

.navContainer {
  border: $tb-red;
  @include size(170px, 99.5%);
  overflow-x: hidden;
}

#toggle-chat {
  height: 65px;
  width: 65px;
  position: fixed;
  top: calc(20vh + 1px);
  right: 10px;
  -webkit-transition: right .2s;

  &.expanded {
    right: 289px;  
    mat-icon {
      margin-right: 23px;
    }
  }

  mat-icon {
    margin-top: 5px;
  }
}

#chat {
  padding: 0px;
  position: fixed;
  top: 20vh;
  right: -311px;
  width: 300px;
  height: 500px;
  -webkit-transition: right .2s;
  &.expanded {
    right: 20px;
  }
}