.slogan {
  margin-top: 140px;
  margin-bottom: 40px;
  color: #C4275F;
  font-family: STHeitiSC-Light;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

@media only screen and (max-width:768px) {
  .slogan {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 1.4rem;
    margin-top: 95px;
    margin-bottom: 0;
  }
}

.comms-wrapper {
  margin-bottom: 20vh;
}