// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "/sass-variables-mixins/vars.scss";
@import "/sass-variables-mixins/mixins.scss";

// .heroBgColor {
//   @include size(500px, 100%);
//   background-color: white;
//   .slogan {
//     margin-top: 140px;
//     margin-bottom: 40px;
//     color: $warn-color;
//     @include font-styles();
//     @include font-size(36px);
//     display: flex;
//     justify-content: center;
//   }

// }



// @media only screen and (max-width:768px) {
//   .slogan {
//     font-size: 1.7rem;
//   }
// }

#toggle-chat {
  position: fixed;
  top: calc(20vh + 2px);
  right: -27px;
  -webkit-transition: right .2s;
  &.expanded {
    right: 291px;    
  }
}

#chat {
  padding: 0px;
  position: fixed;
  top: 20vh;
  right: -300px;
  width: 300px;
  height: 500px;
  -webkit-transition: right .2s;
  &.expanded {
    right: 20px;
  }
}

/* .mat-tab-header-pagination {
  display: none;
}

.mat-tab-label {
  min-width: calc(250px / 3);
  padding: 0px;
} */