.slogan {
  margin-top: 140px;
  margin-bottom: 40px;
  color: #C4275F;
  font-family: STHeitiSC-Light;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#toggle-chat {
  position: fixed;
  top: calc(20vh + 2px);
  right: -27px;
  -webkit-transition: right .2s;
}

#toggle-chat.expanded {
  right: 291px;
}

#chat {
  padding: 0px;
  position: fixed;
  top: 20vh;
  right: -300px;
  width: 300px;
  height: 500px;
  -webkit-transition: right .2s;
}

#chat.expanded {
  right: 20px;
}

/* .mat-tab-header-pagination {
  display: none;
}

.mat-tab-label {
  min-width: calc(250px / 3);
  padding: 0px;
} */



@media only screen and (max-width:768px) {
  .slogan {
    font-size: 1.7rem;
  }
}