<!--Container  for nav-bar and top-nav component rendering within the div-->
<div id="navContainer">
  <top-nav></top-nav>
</div>

<!--Root div container with the router-outlet rendering page components within the div-->
<div id="root">
  <router-outlet></router-outlet>
</div>

<!--Footer Container with the footer component rendering within the div-->
<div id="footerContainer">
  <footer></footer>
</div>

<!-- ToDo: put this button in its own conponent so all the animation logic can be taken out of AppComponent -->
<div class="chatContainer">
  <button [@throbState]="throbState" [class.unread]="!userInteraction.windowExpanded && userInteraction.unreadMessages" [class.expanded]="userInteraction.windowExpanded"
          (click)="userInteraction.toggleWindow()" mat-fab color="warn" id="toggle-chat">
    <mat-icon class="mat-24" aria-label="Open Chat">chat</mat-icon>
  </button>
  <mat-card id="chat" [class.expanded]="userInteraction.windowExpanded">
    <user-interaction #userInteraction></user-interaction>
  </mat-card>
</div>
