<top-nav></top-nav>
<h2 class="slogan">Community made open source tutorials.</h2>
<router-outlet></router-outlet>
<button [class.expanded]="chatExpanded" (click)="toggleChat()" mat-fab color="warn" id="toggle-chat">
    <mat-icon class="mat-24" aria-label="Open Chat">chat</mat-icon>
</button>
<mat-card  id="chat" [class.expanded]="chatExpanded">
    <mat-tab-group #chatNav>
        <mat-tab label="Users">
            <user-list [chatNav]="chatNav"></user-list>
        </mat-tab>
        <mat-tab label="Chats">
            <user-list></user-list>
        </mat-tab>
        <mat-tab label="Messages">
            <chat></chat>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<footer></footer>