<div class="latestPreview">
  <div class="imagePreview">
    <img src="../../assets/images/kid-art.jpg" alt="default main tutorial image: a picture of kid art">
  </div>
  <div class="textPreview">
    <h3 class="title" (click)="navigateToArticleDetail()">{{articleData.title | truncate:50}}</h3>
    <div class="userPhotoDateWrapper">
      <img class="profileImage" [src]="profileImageUrl ? profileImageUrl : '../../assets/images/ss-user-photo-frame.jpg'" alt="user's profile photo">
      <div class="userTextWrapper">
        <h4 class="author" (click)="navigateToProfile()">By: {{author?.alias | truncate:20}}</h4>
        <p class="date">{{ articleData?.lastUpdated | date }}</p>
      </div>
    </div>
    <p class="intro">{{articleData.introduction | truncate:50 }}</p>
    <!-- <p class="rating">RATING HERE<p> -->
        <div class="tagWrapper">
          <img src="../../assets/images/ss-tag-icon.png" alt="A tag icon of all the catagories this tutoral fits under.">
          <p class="tags">{{articleData.tags | truncateTags:20 }}</p>
        </div>
  </div>
</div>   v