<md-card>
  <!-- Article Image -->
   <img [src]="articleCoverImageUrl ? articleCoverImageUrl : '../../assets/images/kid-art.jpg'" alt="article's cover image">
  <!-- Card Header Container -->
  <md-card-header>
    <div class="titleWrapper">
      <md-card-title class="title" (click)="navigateToArticleDetail()">{{articleData.title | truncate:40}}</md-card-title>
    </div>
    <md-card-subtitle class="author" (click)="navigateToProfile()">Last Updated on: {{ articleData?.lastUpdated | date }}</md-card-subtitle>
  </md-card-header>
  <!-- Card Content -->
  <md-card-content>
    <p class="intro">{{articleData.introduction | truncate:100 }}</p>
  </md-card-content>
  <!-- Card Footer Action -->
  <md-card-actions>
    <!-- Article Comment Icon -->
    <div>
      <span mdTooltip="0 Comments">
        <md-icon color="accent">comment</md-icon>
      </span>
      <p>0</p>
    </div>
    <!-- Article History Icon -->
    <div>
      <span mdTooltip="Revised {{articleData.version}} time(s)">
        <md-icon color="accent">history</md-icon>
      </span>
       <p>{{articleData.version}}</p>
    </div>
    <!-- Article Tags Icon -->
    <div>
      <span mdTooltip="{{articleData.tags }}">
        <md-icon color="accent">label_outline</md-icon>
      </span>
      <p>{{articleData.tags.length}}</p>
    </div>
    <!-- Flexbox Spacer Span -->
    <span class="iconSpacer"></span>
    <!-- Article Bookmark Icon -->
    <div>
      <md-icon color="accent">bookmark_border</md-icon>
    </div>
  </md-card-actions>
</md-card>




<!-- ORIGINAL ANGULAR MATERIAL CARD PROTOTYPE -->
<!-- <md-card class="example-card">
  Card Header Container
  <md-card-header>
    <img md-card-avatar [src]="profileImageUrl ? profileImageUrl : ''" class="profile-image" alt="">
    <md-card-title class="title" (click)="navigateToArticleDetail()">{{articleData.title | truncate:50}}</md-card-title>
    <md-card-subtitle class="author" (click)="navigateToProfile()">By: {{author?.alias | truncate:20}}</md-card-subtitle>
    <md-card-subtitle class="date">{{ articleData?.lastUpdated | date }}</md-card-subtitle>
  </md-card-header>
  Image Container
  <div class="imageWrapper">
    <img md-card-image [src]="articleCoverImageUrl ? articleCoverImageUrl : '../../assets/images/kid-art.jpg'" alt="article's cover image">
  </div>
  Card Content
  <md-card-content>
    <p class="intro">{{articleData.introduction | truncate:75 }}</p>
  </md-card-content>
  Card Footer Action
  <md-card-actions>
    <md-chip-list>
      <md-chip color="primary" *ngFor="let tags of articleData.tags">{{tags | truncate:8}}</md-chip>
    </md-chip-list>
  </md-card-actions>
</md-card> -->


<!-- ORGINAL HTML FOR CARDS -->
<!-- <div class="latestPreview">
  <div class="imagePreview">
    <div class="imageWrapper">
      <img 
      [src]="articleCoverImageUrl ? articleCoverImageUrl : '../../assets/images/kid-art.jpg'"
      class="imageDisplay"
      alt="article's cover image">
    </div>
  </div>

  <div class="textPreview">
    <h3 class="title" (click)="navigateToArticleDetail()">{{articleData.title | truncate:50}}</h3>
    <div class="userPhotoDateWrapper">
      <img src="../../assets/images/ss-user-photo-frame.jpg" alt="">
      <img 
        [src]="profileImageUrl ? profileImageUrl : ''" 
        class="profile-image"
        alt="">
      <div class="userTextWrapper">
        <h4 class="author" (click)="navigateToProfile()">By: {{author?.alias | truncate:20}}</h4>
        <p class="date">{{ articleData?.lastUpdated | date }}</p>
      </div>
    </div>
    <p class="intro">{{articleData.introduction | truncate:50 }}</p>
 
        <div class="tagWrapper">
          <img src="../../assets/images/ss-tag-icon.png" alt="A tag icon of all the catagories this tutoral fits under.">
          <p class="tags">{{articleData.tags | truncateTags:20 }}</p>
        </div>
  </div>

</div> -->
