.mat-card-header {
  display: inline-block;
}
.mat-card {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  .mat-card-subtitle {
    margin-bottom: 0px;
  }
}
follow-btn {
  position: absolute;
  right: 10px;
}
.followWrapper {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #263237;
}
.followPhoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #C4275F;
    font-size: 18px;
  }
}
.bioWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  p {
    font-style: italic;
    color: #00BE9C;
    margin-bottom: 0;
  }
}

