// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
.registerWrapper {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  @include font-styles();
  @media only screen and (max-width: 900px) {
    margin-top: 0px;
    min-height: 800px;
  }
  .titleWrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    h1 {
      font-size: 50px;
      color: $primary-color;
      cursor: default;
      margin-bottom: 20px;
      @include font-styles();
    }
  }
  .formWrapper {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .columnOne {
    width: 600px;
    margin-right: 40px;
    @media only screen and (max-width: 900px) {
      width: 350px;
      margin-right: 0;
    }
    mat-form-field {
      width: 100%;
      margin-top: 10px;
      font-size: 20px;
      @media only screen and (max-width: 900px) {
        @include font-size(14px);
      }
    }
  }
  .columnTwo {
    width: 600px;
    @media only screen and (max-width: 900px) {
      width: 350px;
      margin-left: 0;
    }
    mat-form-field {
      margin-top: 10px;
      width: 100%;
      font-size: 20px;
      @media only screen and (max-width: 900px) {
        @include font-size(14px);
      }
    }
  }
  .buttonWrapper {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    button {
      @include medium-button();
      width: 150px;
    }
  }
}

@media only screen and (max-width:768px) {
  .formWrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}
