<div class="row">
	<div class="col-lg-6">
		<app-article-form #articleForm [initialValue]="article">
		</app-article-form>
		<button (click)="edit(articleForm.value)" class="btn btn-default">Save Changes</button>
	</div>
	<div class="col-lg-6">
		<app-article-cover-image *ngIf="article" [article]="article"></app-article-cover-image>
	</div>
</div>
<br>
<br>
<br> Preview:

<app-article-detail *ngIf="article" [articleData]="articleForm.value" [editingPreview]="true"></app-article-detail>

<!-- <pre>
    {{ articleEditing | json }}
</pre> -->