.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    div:nth-child(1) {
        margin-left: 20px;
    }
    div:nth-child(2) {
        margin-right: 20px;
    }
}