// This is a SCSS file but all of calls are currently vanilla CSS
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
mat-tab-group {
  height: 500px;
}

#chats,
#users {
  overflow-y: scroll;
}

.loggedIn {
  div {
    @include size(100px, 100%);
    background-color: $light-gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include font-size(18px);
    color: $dark-gray;
    cursor: pointer;
    &:hover {
      color: $accent-color;
      text-decoration: underline;
    }
  }
}

.notLoggedIn {
  div {
    @include size(100px, 100%);
    background-color: $light-gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include font-size(18px);
    color: $dark-gray;
    cursor: pointer;
    &:hover {
      color: $accent-color;
      text-decoration: underline;
    }
  }
}
