<div *ngIf="articleHistory">
  <div id="versionSelector">
    <p><strong>Version: {{ selectedArticle().version }}</strong></p>
    <button mat-fab color="primary" (click)="selectPrevious()"><mat-icon>skip_previous</mat-icon></button>
    <button mat-fab color="primary" (click)="selectNext()"><mat-icon>skip_next</mat-icon></button>
  </div>
  <div id="cycleController">
    <button mat-fab color="primary" (click)="startForwardCycle()"><mat-icon>play_circle_outline</mat-icon></button>
    <button mat-fab color="primary" (click)="stopCycle()"><mat-icon>pause_circle_outline</mat-icon></button>
  </div>
  <app-article-history-detail [articleData]="selectedArticle()" [articleKey]="articleKey"></app-article-history-detail>
</div>

<!-- <pre>
    {{ articleHistory | json }}
</pre> -->
