<form autocomplete="off" novalidate [formGroup]="form">
  <div class="formWrapper">
    <div class="detailWrapper">
        <div class="detailColumn">
          <mat-form-field color="primary">
            <input matInput placeholder="Title" #title name="title" maxlength="100" formControlName="title" type="text" [class.input-error]="isErrorVisible('title', 'required')">
            <mat-hint align="end">{{title.value.length}} / 100</mat-hint>
            <mat-error *ngIf="isErrorVisible('title','required')">Please give your article a title.</mat-error>
          </mat-form-field>
    
          <mat-form-field color="primary">
            <textarea matInput placeholder="Introduction" #introduction name="introduction" maxlength="300" formControlName="introduction" type="text" [class.input-error]="isErrorVisible('introduction', 'required')"></textarea>
            <mat-hint align="end">{{introduction.value.length}} / 300</mat-hint>
            <mat-error *ngIf="isErrorVisible('introduction','required')">Please tell us a little something about what this article is about.</mat-error>
          </mat-form-field>

          <div class="tagWrapper">
              <p>Tags</p>
              <tag-input class="ckEditor" [maxItems]="8" [(ngModel)]="formTags" [validators]="validator" (onAdd)="onTagAdded($event)" (onRemove)="onTagRemoved($event)" [ngModelOptions]="{standalone: true}"></tag-input>
          </div>
        </div>
        <div class="detailColumn">
            <app-article-cover-image [articleId]="articleId"></app-article-cover-image>
        </div>
    </div>
      <div class="ckEditor">
          <label>Body</label>
          <ckeditor name="body" formControlName="body" [config]="{uiColor: '##dee2e8'}" debounce="500"></ckeditor>
      </div>
  </div>
</form>




