form {
  font-family: STHeitiSC-Light;

  .formWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    mat-form-field {
      width: 95%;
      margin: 10px 0px;
      -ms-flex-item-align: center;
          align-self: center;
    }
  }
}

.ckEditor {
  width: 95%;
  -ms-flex-item-align: center;
      align-self: center;
}

.tagWrapper {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;


  h2 {
    color: #243237;
    font-size: 36.8px;
    font-size: 2.3rem;
    font-weight: 200;
    font-family: STHeitiSC-Light;
    margin-bottom: 20px;
  }

  tag-input {
    width: 100% !important;
  }
  
}


@media only screen and (max-width:768px) {
  .formSection {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}