.latestHeader {
  font-family: STHeitiSC-Light;
  letter-spacing: 0.5px;
  font-size: 24px;
  color: #C4275F;
  // margin-left: 98px;
  text-align: center;
  cursor: default;
}

.latestDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.latestTile {
  font-family: STHeitiSC-Light;
  background-color: #fff;
  border: 1px solid #263237;
  height: 329px;
  width: 500px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1750px) {

  .latestDisplay {
    justify-content: space-around;
  }

  .latestTile {
    margin-right: 20px;
  }
}

@media only screen and (max-width:768px) {
  .latestDisplay {
    width: 95%;
    margin: 0 auto;
  }
  .latestHeader {
    margin-left: 20px;
  }
  .latestTile {
    height: 295px;
    width: 420px;
    margin: 10px 0;
  }
}
