<div class="authorWrapper">
  <div class="userInfoWrapper">
    <div class="photoNameWrapper">
      <img src="../../assets/images/ss-user-photo-frame.jpg" alt="photo of the initial tutorial creator">
      <h3 class="author">{{userInfo.alias || userInfo.fName + ' ' + userInfo.lName}}</h3>
    </div>
    <h4 class="bio">{{userInfo.bio}}</h4>
  </div>
  <div class="articleWrapper">
    <div class="picTitleWrapper">
      <img src="../../assets/images/kid-art.jpg" alt="default main tutorial image: a picture of kid art">
      <h3 class="title">Article Title</h3>
    </div>
    <div class="dateVersionWrapper">
      <p class="lastUpdated">Date: last updated</p>
      <p class="version">Version: #?</p>
    </div>
  </div>
</div>

<h2>Articles by Author</h2>
<pre *ngFor="let article of articlesPerAuthor">
  {{ article | json | async }}
</pre>

<h2>Articles by Editor</h2>
<pre *ngFor="let article of articlesPerEditor">
  {{ article | async | json }}
</pre>
