.authorWrapper * {
  font-family: STHeitiSC-Light;
}

.userInfoWrapper {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.photoNameWrapper {
  display: flex;
  margin-bottom: 20px;
  img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}

.followButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

.author {
  color: #C4275F;
  margin: 0;
  align-self: center;
}

.followBtn {
  height: 38px;
  color: #fff;
  background-color: #C4275F;
  align-self: center;
  font-family: STHeitiSC-Light;
}

.bio {
  font-style: italic;
  color: #00BE9C;
}

.authorEditorWrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.articleAuthorBlock {
  width: 48%;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    cursor: default;
    margin-bottom: 40px;
  }
}

.articleEditorBlock {
  width: 48%;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    cursor: default;
    margin-bottom: 40px;
  }
}

.authorLoop {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #263237;
}

.editorLoop {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #263237;
}

@media only screen and (max-width:768px) {
  .followButtonWrapper {
    width: 260px;
    margin-bottom: 5px;
  }
}
