<div class="authorWrapper">
  <div class="userInfoWrapper">
    <div class="photoNameWrapper">
      <img src="../../assets/images/ss-user-photo-frame.jpg" alt="photo of the initial tutorial creator">
      <h3>{{userInfo?.alias || userInfo?.fName + ' ' + userInfo?.lName}}</h3>
    </div>
    <h4>{{userInfo?.bio}}</h4>
  </div>
  <div class="articleWrapper" *ngFor="let article of articlesPerAuthor">
    <author-article-preview [articleData]="article" ></author-article-preview>
  </div>
</div>

<pre *ngFor="let article of articlesPerAuthor">
  {{ article | json }}
</pre>

<h3>Articles by Editor</h3>
<pre *ngFor="let article of articlesPerEditor">
  {{ article | json }}
</pre>
