.tileBorder {
  border: 1px solid #263237;
  border-radius: 3px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}
.notFoundMsgWrapper {
  position: relative;
  background-color: #263237;
  border: 10px solid #fff;
  border-radius: 3px;
  padding: 40px;
  display: flex;
  height: 498px;
  flex-direction: column;
  img {
    align-self: center;
    margin-bottom: 40px;
  }
  h1 {
    align-self: center;
    color: #31C2D7;
    margin-bottom: 0;
  }
  h3 {
    color: #C4275F;
  }
  * {
    font-family: 'Roboto', sans-serif;
  }
}

.xOut {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.xOut:hover{
  cursor: pointer;
}

a:focus {
  box-shadow: none;
}

@media only screen and (max-width:768px) {
  .tileBorder {
    width: 350px;
  }
  .notFoundMsgWrapper {
    width: 348px;
    img {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
