label {
  color: #243237;
  font-size: 2.3rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

input, textarea {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom:1px solid #263237;
  border-radius: 0;
}

input:focus {
  box-shadow: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom:1px solid #31C2D7;
}

.formGroup {
  padding-top: 10px;
}

.formSection > * {
  font-family: STHeitiSC-Light;
}

.formSection:first-child {
  margin-top: 5rem;
}

.formSection {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.form-control {
  height: 4rem;
}

.ckEditor {
  width: 90%;
}

.limitNotReached {
  color: #263237;
}

.limitReached {
  color: #C4275F;
  
}

#body{
  height: 36rem;
}
