<form autocomplete="off" novalidate [formGroup]="form">
  <fieldset class="form-group formGroup">
    <div class="form-bg">
      <div class="form-field formSection">
        <label>Title</label>
        <input name="title"  maxlength="150" formControlName="title" type="text" [class.input-error]="isErrorVisible('title', 'required')" class="form-control">
        <div class="field-error-message" *ngIf="isErrorVisible('title','required')">Please give your article a title.</div>
          <span 
            [ngClass]="characterLimitReached('title') ? 'limitReached' : 'limitNotReached'" 
            class="characterCount">
              {{characterCountOfMax('title', 100)}}
            </span>
      </div>
      <div class="form-field formSection">
        <label>Introduction</label>
        <input name="introduction" formControlName="introduction" type="text" [class.input-error]="isErrorVisible('introduction', 'required')"
          class="form-control">
        <div class="field-error-message" *ngIf="isErrorVisible('introduction','required')">Please tell us a little something about what this article is about.</div>
      </div>
      <div class="form-field formSection ckEditor">
        <label>Body</label>
        <!-- <ckeditor name="body" formControlName="body" [config]="{uiColor: '##dee2e8'}" (change)="onChange($event)" (ready)="onReady($event)"
          (focus)="onFocus($event)" (blur)="onBlur($event)" debounce="500">
        </ckeditor> -->
        <ckeditor name="body" formControlName="body" [config]="{uiColor: '##dee2e8'}" debounce="500">
        </ckeditor>
      </div>
      <div class="form-field formSection">

      </div>
    </div>
  </fieldset>
</form>
<tag-input class="form-field ckEditor" [(ngModel)]="formTags" (onAdd)="onTagAdded($event)" (onRemove)="onTagRemoved($event)"></tag-input>
<!-- <pre>
  {{ articleTags | json }}
</pre>
<pre>
  {{ formTags | json }}
</pre> -->
