#user-list {
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}

.add-to-chat {
  position: absolute;
  right: 0;
}

.user {
  width: 80%;
  margin: 10px auto 10px auto;
  padding: 5px 0px 0px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.user:hover {
  box-shadow: 1px 1px 1px 1px grey;
}

.add-member {
  position: absolute;
  left: -20px;
  top: 20px;
  cursor: pointer;
}

.profile-image {
  display: inline-block;
}

mat-card {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

mat-card-header {
  display: inline-block;
  margin-left: 10px; 
}

mat-card-subtitle {
  margin-bottom: 5px;
}