// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";

.followBtn {
  @include medium-button();
}

.unfollow {
  color: #263237;
  background-color: #fff;
  border: 1px solid #263237;
  text-align: center;
  letter-spacing: 0.2px;
}
