#user-list {
  width: 400px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px grey;
  border-radius: 1px;
  vertical-align: top;
  display: inline-block;
  overflow-y: scroll;
}

.user {
  width: 80%;
  margin: 10px auto 10px auto;
  padding: 5px 0px 0px 15px;
  font-size: 18px;
  font-family: STHeitiSC-Light;
  font-weight: bold;
  cursor: pointer;
}

.user:hover {
  box-shadow: 1px 1px 1px 1px grey;
}