<div id="user-list">
  <h4>Users</h4>
  <div *ngFor="let user of userList" (click)="createOrOpenChat([user])" class="user">
    <span *ngIf="currentChat && isNotInCurrentChat(user.$key)" class="add-member" (click)="addToChat(user, $event)">+</span>
    <span>{{ displayName(user) }}: </span>
    <user-presence [userKey]="user.$key"></user-presence>
  </div>
  <h4>Chats</h4>
  <div *ngFor="let chat of chatList " (click)="openChat(chat.$key)" class="user">
    <span>{{ memberNames(chat) }}</span>
  </div>
</div>
