#user-list {
  width: 100%;
  height: 396px;
  overflow-y: scroll;
}

.user {
  width: 80%;
  margin: 10px auto 10px auto;
  padding: 5px 0px 0px 15px;
  font-size: 18px;
  font-family: STHeitiSC-Light;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.user:hover {
  box-shadow: 1px 1px 1px 1px grey;
}

.add-member {
  position: absolute;
  left: -20px;
  top: 20px;
  cursor: pointer;
}