pre {
  border: 1px solid firebrick;
  width: 95%;
}

.authorWrapper {
  margin-top: 95px;
}

.authorWrapper * {
  font-family: STHeitiSC-Light;
}

.userInfoWrapper {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.photoNameWrapper {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}

.profile-image {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 4px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.followButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

.followPageLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  a {
    color: #263237;
    font-size: 14px;
  }
}

.author {
  color: #C4275F;
  margin: 0;
  align-self: center;
}

.followBtn {
  height: 38px;
  color: #fff;
  background-color: #C4275F;
  align-self: center;
  font-family: STHeitiSC-Light;
}

.bio {
  font-style: italic;
  color: #00BE9C;
  margin-top: 20px;
}

.authorEditorWrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.articleAuthorBlock {
  width: 48%;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    cursor: default;
    margin-bottom: 40px;
  }
}

.articleEditorBlock {
  width: 48%;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    cursor: default;
    margin-bottom: 40px;
  }
}

.authorLoop {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #263237;
}

.editorLoop {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #263237;
}

.followersWrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 60px;
}

.followAuthorBlock {
  width: 48%;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    cursor: default;
    margin-bottom: 40px;
  }
}

.followingUserBlock {
  width: 48%;
  margin: 0 auto;
  h3 {
    color: #31C2D7;
    cursor: default;
    margin-bottom: 40px;
  }
}

.followAuthorLoop {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #263237;
}

.followingUserLoop {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #263237;
}

@media only screen and (max-width: 1004px) {
  .authorEditorWrapper {
    flex-direction: column;
  }

  .followersWrapper {
    flex-direction: column;
  }

  .articleAuthorBlock {
    width: 100%;
  }

  .articleEditorBlock {
    width: 100%;
  }
  h3 {
    margin-top: 60px;
  }

  .followAuthorBlock {
    width: 100%;
  }

  .followingUserBlock {
    width: 100%;
  }
}

@media only screen and (max-width:768px) {
  .userInfoWrapper {
    width: 370px;
    padding-left: 10px;
  }

  .photoNameWrapper {
    margin-top: 60px;
  }

  .followButtonWrapper {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width:460px) {
  .followButtonWrapper {
    margin: 0;
  }
}
