.suggestion-preview {
  border-bottom: 1px solid #263237;
  font-family: STHeitiSC-Light;
  padding: 0px 15px;

  .suggestion-title {
    font-size: 18px;
  }

  .suggestion-pitch {
    color: #00BE9C;
    font-size: 12px;
  }
}
