<div *ngIf="currentUpload">
  <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
  Progress: {{currentUpload?.progress}}% Complete
</div>

  <h3>Upload</h3>
  
    <label>
       <input accept="image/*" type="file" class="button" (change)="detectFiles($event)">
    </label>
  
    <button
          [disabled]="!selectedFiles"
          (click)="uploadSingle()">
          Upload!
    </button>


    <div *ngFor="let upload of uploads | async">
        <img  style="width:250px;height:250px;" src="{{upload.url}}">
      </div>

  