<div id="add-suggestions">
  <h3>Make a suggestion:</h3>
  <div id="add-suggestion-form">
    <p>Want to see a tutorial on Scatter School? Type a suggestion here and someone in the community may take it on. Perhaps you can find the idea for your next great tutorial here too. Happy hunting.</p>
    <add-suggestion></add-suggestion>
  </div>
</div>

<div *ngFor="let suggestion of suggestions | async" class="panel panel-default">
  <div class="panel-body">
    <h3><em>{{suggestion.title}}</em></h3>
  </div>
  
<div id="suggestions">
  <h3>Suggestions</h3>
  <app-suggestion-preview *ngFor="let suggestion of suggestions | async"></app-suggestion-preview>
</div>

