h3 {
  color: #31C2D7;
  font-family: STHeitiSC-Light;
  padding: 0px 2%;
}

#add-suggestion-form {
  text-align: center;
  margin: auto;
  max-width: 406px;
}

#suggestions {
  padding: 0px 2%;
}

#sort-buttons {
  span {
    cursor: pointer;
  }
  span.selected {
    color: red;
  }
}