// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
button {
  @include large-button();
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
pre {
  width: 1200px;
  border: 1px solid #C4275F;
  border-radius: 0;
  background-color: #fff;
  margin: 0 auto;
}
label {
  color: #243237;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 30px;
}
input {
  font-size: 18px;
}
progress {
  color: #00BE9C;
}
.postArticleContainer {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadForm {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #263237;
  width: 500px;
}
.upload-wrapper {
  margin: 0 auto;
  width: 500px;
}
@media only screen and (max-width:950px) {
  input {
    width: 100%;
  }
  .uploadForm {
    width: 100%;
  }
  .upload-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .postArticleContainer {
    height: 1150px;
  }
}
