/* You can add global styles to this file, and also import other style files */
@import "/assets/main-theme/main-theme.css";
// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "src/app/sass-variables-mixins/vars.scss";
@import "src/app/sass-variables-mixins/mixins.scss";


fieldset {
    border: none;
  }
  
*, html, body {
  font-family: STHeitiSC-Light;
}

  
 html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

.mat-card-header-text {
  // height: auto !important;
  margin: 0 !important;
  // display: none;
}

mat-card-actions[_ngcontent-c21] {
  margin-left: 0px !important;
}

.mat-tab-label {
  min-width: calc(100% / 3) !important;
  padding: 0 !important;
}
