// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";

.activePreviewState {
    color: $accent-color;
}

.heroBgColor {
    @include size(450px, 100%);
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    h1 {
        @include font-size(70px);
        @include font-styles();
        color: $warn-color;
    }

    h2 {
        @include font-size(36px);
        @include font-styles();
        color: $warn-color;
        padding: 0px 30px;
        margin-bottom: 50px;
    }
    // media queries for responsive hero text
     @media only screen and (max-width:1620px) {
        h1 {
            @include font-size(58px);
        }
        h2 {
            @include font-size(36px);
        }
    }

    @media only screen and (max-width:1340px) {
        h1 {
            @include font-size(50px);
        }
        h2 {
            @include font-size(30px);
            margin-bottom: 100px;
        }
    }
    @media only screen and (max-width:1200px) {
        h1 {
            @include font-size(40px);
        }
        h2 {
            @include font-size(28px);
            margin-bottom: 75px;
        }
    }
    @media only screen and (max-width:980px) {
        h1 {
            @include font-size(36px);
        }
        h2 {
            @include font-size(20px);
            margin-bottom: 75px;
        }
    }
    @media only screen and (max-width:700px) {
        h1 {
            @include font-size(30px);
        }
        h2 {
            @include font-size(18px);
            margin-bottom: 75px;
        }
    }
}

.bodyBgColor {
    width: 100%;
    background-color: $medium-gray;

    .featuredArticleWrapper {
        width: 95%;
        margin-left: 2.5%;

        .featuredOptions {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            color: $light-gray;

            h2 {
                @include font-styles();
                @include font-size(60px);
                color: $light-gray;

                @media only screen and (max-width:776px) {
                    @include font-size(40px);
                }

                @media only screen and (max-width:600px) {
                    @include font-size(30px);
                }
            }
        
            .iconWrapper {
                width: 75px;
                display: flex;
                justify-content: space-around;
                align-items: center;
        
                mat-icon {
                    cursor: pointer;
                    font-size: 30px;
                }
            }
        }

        .grid {
            @include size(100%, 100%);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media only screen and (max-width:1030px) {
                justify-content: space-around;
            }
        }
    }

    .latestAndAllWrapper {
        width: 95%;
        margin-left: 2.5%;

        .article-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .header-style {
                @include font-styles();
                @include font-size(30px);
                color: $light-gray;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    margin-right: 50px;
                }
                @media only screen and (max-width:776px) {
                    @include font-size(20px);
                }
                @media only screen and (max-width:680px) {
                    @include font-size(17px);
                    
                    h2 {
                        margin-right: 25px;
                    }
                }
                
            }

            .activeArticleState {
                color: $accent-color;
                text-decoration: underline;
            }

            .latestViewToggle, .allViewToggle {
                color: $light-gray;
                width: 75px;
                display: flex;
                justify-content: space-around;
                align-items: center;
        
                mat-icon {
                    cursor: pointer;
                    font-size: 30px;
                }
            }
        }

        .grid {
            @include size(100%, 100%);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media only screen and (max-width:1030px) {
                justify-content: space-around;
            }

        }

    }
}













// .article-options {
//     display: flex;
//     justify-content: flex-start;
//     margin-top: 20px;

//     .header-style {
//         font-family: STHeitiSC-Light;
//         color: #31C2D7;
//         letter-spacing: 0.5px;
//         font-size: 30px;
//         margin-left: 2.5%;
//         cursor: pointer;
        
//     }

//     .activeArticleState {
//         color: #C4275F;
//         text-decoration: underline;
//     }

// }

// .allArticleWrapper {
//     width: 95%;
//     margin-left: 2.5%;
//     margin-top: 25px;
// }



