
.article-options {
    display: flex;
    justify-content: flex-start;

.header-style {
    font-family: STHeitiSC-Light;
    letter-spacing: 0.5px;
    font-size: 30px;
    color: #31C2D7;
    margin-left: 98px;
    cursor: pointer;
    }
}


