// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";

.titleWrapper{
  display: flex;
  justify-content: center;
  margin-top: 50px;

  h1 {
    letter-spacing: 0.5px;
    font-size: 30px;
    color: #31C2D7;
    cursor: default;
    font-family: STHeitiSC-Light;
  }
}

.accountWrapper {
  display: flex;
  justify-content: space-around;

  align-items: center;
  font-family: STHeitiSC-Light;

  form {

    fieldset:nth-child(1) {

      mat-form-field {
        width: 100%;
        margin: 10px 0px;
      }
    }

    fieldset:nth-child(2) {

      table {
        width: 100%;
        mat-form-field {
          width: 98%;
        }
      }
    }

    fieldset:nth-child(3) {
      
      mat-form-field {
        width: 100%;
        margin: 10px 0px;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;

    button {
      @include large-button();
      width: 180px;
    }
  }

  .profileImageWrapper {
    height: 500px;
  }

}

@media only screen and (max-width:1020px) {
  .accountWrapper {
    flex-direction: column;

    .profileImageWrapper {
      margin-top: 50px;
    }
  }
}
