h1 {
  font-family: STHeitiSC-Light;
  letter-spacing: 0.5px;
  font-size: 30px;
  color: #31C2D7;
  margin-left: 98px;
  cursor: default;
}

.form-field {
  margin-left: 100px;
}

button {
  color: #fff;
  background-color: #C4275F;
  border-radius: 2px;
  margin-left: 100px;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
}
