// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
.article-detail-wrapper {
  height: 100%;
  width: 100%;
  background: $light-gray;
  display: flex;
  justify-content: center;
}
.article-detail {
  @include respond-to($tablet-sm) {
    padding-right: 20%;
    padding-left: 20%;
  }
}
#header {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.footer {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  @include respond-to($tablet-md){
    display: flex;
  }
  .author-img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 100%;
    overflow: hidden;
    grid-area: 1/1/span 2/2;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;

    }
  }
  .author-details {
    padding-left: 20px;
    @include respond-to($tablet-md){
      padding: 0 10px;
    }
    p {
      margin-bottom: 0;
    }
    .span-link {
      color: $accent-color;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .icons {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    padding: 0 0 0 20px;
    @include respond-to($tablet-md){
      margin-left: auto;
      align-items: center;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px 0 0;
      &:hover {
        mat-icon {
          color: $accent-color-70;
        }
      }
    }
  }
}
mat-card {
  margin: 20px 0 50px 0;
  width: 90%;
  mat-card-content {
    mat-chip {
      margin: 5px 5px 5px 0;
    }
    .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
      margin: 5px 5px 5px 0 !important;
    }
    .tags {
      padding: 20px 0 30px 0;
    }
    button {
      margin: 20px 0;
    }
  }
  mat-card-footer {
    #discussion {
      display: flex;
      justify-content: center;
      padding: 50px 0 50px 20px;
      background: $light-grey;
      .comment-section-wrapper {
        width: 95%;
        @include respond-to($tablet-md){
          width: 80%;
        }
        @include respond-to($desktop-sm){
          width: 60%;
        }
      }
    }
  }
}