// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
.tagsBar {
  position: absolute;
  top: 250px;
  left: 46px;
  padding-top: 10px;
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
  ul {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style: none;
    color: $dark-grey;
  }
}

.tag {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    color: $primary-color;
  }
}

.articleDetailWrapper {
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
  button {
    @include medium-button();
    margin: 10px;
  }
  button:nth-of-type(2) {
    width: 140px;
  }
  button:nth-of-type(3) {
    width: 160px;
  }
}

.userPhotoDateWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 4px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.followButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

.userTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  >* {
    font-family: 'Roboto', sans-serif;
    color: $dark-grey;
  }
}

p {
  color: $dark-grey;
  font-family: 'Roboto', sans-serif;
}

.headlineWrapper h1 {
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: $dark-grey;
}

.headlineWrapper {
  mat-icon {
    font-size: 30px;
  }
}

.rating {
  margin-bottom: 40px;
  color: $dark-grey;
}

.intro {
  color: $primary-color;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 40px;
}

.author {
  font-size: 20px;
  color: $warn-color;
  margin-top: 0;
  cursor: pointer;
}

.author:hover {
  text-decoration: underline;
  color: $accent-color;
}

.date {
  margin: 0;
}

.copyText {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: $dark-grey;
}

.comment-section-wrapper {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  margin: auto;
  h3 {
    font-size: 30px;
    color: $primary-color
  }
}

@media only screen and (max-width: 1004px) {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  .tagsBar {
    position: relative;
    top: 0;
    left: 0;
    border-top: none;
  }
  .tag {
    margin-left: 10px;
    margin-top: 0;
  }
}

.image-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 250px;
}

.bookmark-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width:768px) {
  .articleDetailWrapper {
    width: 95%;
  }
  .followButtonWrapper {
    width: 260px;
    margin-bottom: 5px;
  }
  .comment-section-wrapper {
    width: 95%;
  }
}
