<div class="article-detail-wrapper">
  <mat-card>
    <div class="article-detail">
        <img id="header" [src]="articleCoverImageUrl ? articleCoverImageUrl : '../../../../assets/images/kid-art.jpg'">
        <mat-card-header>
          <mat-card-title>
            <h1>{{article?.title}}</h1>
          </mat-card-title>
          <mat-card-subtitle>
            Last Updated: {{article?.lastUpdated?.toDate() | date}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>{{article?.introduction}}</h3>
          <div [innerHtml]="article?.body | safeHtml"></div>
          <div class="tags">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of article?.tags" (click)="getArticlesByTag(tag)">{{tag}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="footer">
            <div class="author-img">
              <img [src]="profileImageUrl ? profileImageUrl : ''">
            </div>
            <div class="author-details">
              <h3>By {{author?.alias}}</h3>
              <p>Created {{article?.timestamp?.toDate() | date}}</p>
            </div>
            <div class="icons">
              <div>
                <mat-icon color="primary">comment</mat-icon>
                <p>{{articleData?.commentCount ? article.commentCount: '0'}}</p>
              </div>
              <div matTooltip="Revised {{articleData?.version}} time(s)">
                  <mat-icon color="primary">border_color</mat-icon>
                  <p>{{articleData?.version}}</p>
              </div>
              <div>
                <mat-icon class="bookmark-icon"
                          color="primary">{{ isArticleBookmarked ? 'bookmark' : 'bookmark_border' }}</mat-icon>
              </div>
            </div>
          </div>
          <button mat-raised-button color="accent">Edit Article</button>
        </mat-card-content>
    </div>
    <mat-card-footer>
      <div class="related-articles">
      </div>
      <div class="discussion">
        <div *ngIf="!editingPreview" class="comment-section-wrapper">
          <app-add-comment [headerTitle]="'Discussion'" [parentKey]="articleKey"></app-add-comment>
          <comment-list [parentKey]="articleKey"></comment-list>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

