// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";
.accountWrapper {
  height: clac(100vh -248px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: STHeitiSC-Light;
  //margin-top: 50px;
}
.accountContainer {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.titleWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  h1 {
    @include font-styles();
    @include font-size(40px);
    color: $dark-gray;
    @media only screen and (max-width: 776px) {
      @include font-size(30px);
    }
  }
}
form {
  margin-right: 100px;
  fieldset:nth-child(1) {
    mat-form-field {
      width: 100%;
      margin: 10px 0px;
    }
  }
  fieldset:nth-child(2) {
    table {
      width: 100%;
      mat-form-field {
        width: 98%;
      }
    }
  }
  fieldset:nth-child(3) {
    mat-form-field {
      width: 100%;
      margin: 10px 0px;
    }
  }
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  button {
    @include large-button();
    width: 180px;
  }
}
.profileImageWrapper {
  height: 500px;
  margin-top: 150px;
}
@media only screen and (max-width:1020px) {
  .accountWrapper {
    height: 1100px;
    .accountContainer {
      flex-direction: column-reverse;
      form {
        margin-right: 0px;
        fieldset{
          mat-form-field {
            width: 75%;
          }
        }
      }
      .profileImageWrapper {
        height: 250px;
        margin-top: 20px;
      }
    }
  }
}
