// imports for the variable and mixin files found within the sass-variables-mixins folder
@import "../sass-variables-mixins/vars.scss";
@import "../sass-variables-mixins/mixins.scss";


.registerWrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 90px;
  font-family: STHeitiSC-Light;

  .titleWrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    h1 {
      font-size: 30px;
      color: #31C2D7;
      cursor: default;
      margin-bottom: 20px;
    }
  }

  .formWrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .columnOne {
    width: 400px;
    margin-right: 40px;
  
    md-form-field {
      width: 100%;
      margin-top: 10px;
    }
  }

  .columnTwo {
    width: 400px;
  
    md-form-field {
      margin-top: 10px;
      width: 100%;
    }
  }

  .buttonWrapper {
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    button {
      @include medium-button();
      width: 150px;
    }
  }
}
@media only screen and (max-width:768px) {
  .formWrapper {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .columnOne {
    width: 380px;
    margin-right: 0;
  }

  .columnTwo {
    width: 380px;
    margin-left: 0;
  }
}
