<div class="footerWrapper">
    <div class="footerLinks">
        <!-- <a class="post-article" routerLink="postarticle">Post an article</a>
        <a *ngIf="authInfo.$uid" class="hiddenLink" routerLink="login" (click)="logout()">Logout</a>
        <a *ngIf="!authInfo.$uid" class="hiddenLink" routerLink="login">Sign In</a>
        <a *ngIf="authInfo.$uid" class="hiddenLink" routerLink="account">Hello {{ displayName }}</a>
        <a *ngIf="!authInfo.$uid" routerLink="register" class="hiddenLink">Sign Up</a>
        <a class="suggestions" routerLink="suggestions">Article suggestions</a> -->
        <a class="aboutUsLink" routerLink="aboutus">About CoSourcery</a>
    </div>

</div>
<!-- <div class="blue1"></div>
<div class="white2"></div>
<div class="blue3"></div> -->