.footerWrapper {
  width: 100%;
  height: 60px;
  border-top: 1px solid #31C2D7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerWrapper * {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #31C2D7;
}

.footerLinks {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
  a:hover {
    color: #C4275F;
    text-decoration: underline;
  }
}

.blue1 {
  width: 100%;
  height: 3px;
  background-color: #31C2D7;
}

.white2 {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.blue3 {
  width: 100%;
  height: 10px;
  background-color: #31C2D7;
}

@media only screen and (max-width:768px) {
  .hiddenLink {
    display: none;
  }
}

