<div class="comment">
  <p class="comment-author" (click)="navigateToProfile()"><strong>{{ displayName }}</strong></p>
  <p><em>{{comment.text}}</em></p>
  
  <div *ngIf="!isFormShowing">
    <span id="reply-button" (click)="toggleReplyForm()"><strong>Reply</strong></span>
  </div>
  <div *ngIf="isFormShowing">
      <app-comment-form #form [formType]="'reply'"></app-comment-form>
      <button class="btn postCommentBtn" [disabled]="!form.valid" (click)="postReply(form.value)">Reply</button>
      <span>{{form.text.value.length}}</span>
  </div>
</div>
<div class="replies">
  <app-comment *ngFor="let reply of replies" [comment]="reply" [currentUserInfo]="currentUserInfo"></app-comment>
</div>