.comment {
  width: 500px;
  padding: 5px 10px 5px 10px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid gray;
  position: relative;
  
  p.first-child {
    margin-bottom: 0px;
  }

  p.comment-text {
    white-space: pre-wrap;
    font-style: italic;
  }

  .toggle-collapse {
    position: absolute;
    left: -20px;
    cursor: pointer;
  }
}

.comment:hover {
  .update-comment {
    display: block;
  }
}

.deleted-comment {
  p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
}

.replies {
  margin-left: 15px;
}

.comment-author {
  cursor: pointer;
  color: #C4275F;
  :hover {
    text-decoration: underline;
  }
}

.postCommentBtn {
  color: #C4275F;
  background-color: #fff;
  border: 1px solid #C4275F;
  border-radius: 2px;
  letter-spacing: 0.5px;
  height: 25px;
  padding: 0 5px;
}

.replies {
  margin-left: 15px;
}

.update-comment {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 5px;

  span {
    cursor: pointer;
  }

  span.active {
    font-weight: bold;
  }
}

#reply-button {
  color: #00BE9C;
  cursor: pointer;
}

.close-reply {
  position: absolute;
  left: -20px;
  cursor: pointer;
}