<div class="comment" *ngIf="!comment.isDeleted">
  <img *ngIf="hasReplies()" src="../../assets/images/chevron.png" class="toggle-collapse" [class.showing]="isRepliesShowing()" (click)="toggleReplies()"/>

  <p class="comment-author" (click)="navigateToProfile()">{{ displayName }}</p>
  <span class="date-updated">{{ postTime() | timeElapsed }}</span>
  
  <p *ngIf="!editShowing" class="comment-text">{{comment.text}}</p>
  <span *ngIf="!editShowing" id="reply-button" (click)="tryShowReply(addReply)">Reply</span>
  
  <app-edit-comment *ngIf="editShowing" [currentUserInfo]="currentUserInfo" [initialCommentValue]="comment"></app-edit-comment>

  <div *ngIf="isLoggedInUserComment()" class="update-comment">
    <span (click)="toggleEdit()" [class.active]="editShowing">{{editShowing ? "Cancel" : "Edit"}}</span> | 
    <span (click)="deleteComment()">Delete</span>
  </div>
</div>

<div class="comment deleted-comment" *ngIf="isDeletedComment()">
  <p>Comment deleted.</p>
</div>

<div class="replies">
  <app-add-reply #addReply [currentUserInfo]="currentUserInfo" [parentCommentKey]="comment.$key"></app-add-reply>
  <div *ngIf="isRepliesShowing()">
    <app-comment  *ngFor="let reply of replies" [comment]="reply" [currentUserInfo]="currentUserInfo"></app-comment>
  </div>
</div>